/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

#nav ul,
.topbar .notifications,
.tabset,
.items .text ul,
.findings,
.tooltip ul,
.autocomplete-box ul,
.listing,
.listing .meta,
.detail-holder .info,
.detail-holder .information,
.component-map .item ul,
.inspection-info,
.details-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.w1:after,
#main:after,
.header-bar:after,
.search-form:after,
.projectbox:after,
.projectbox .holder:after,
.projectbox.detail .items:after,
.items:after,
.tab-content:after,
.map-block .block-frame:after,
.listing .icon:after,
.tabs-area .block-head:after,
.component-maps:after,
.component-map:after,
.findings-block:after {
	content: "";
	display: block;
	clear: both;
}

a,
.tooltip {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

#header .avatar img,
.projectbox .header .image img,
.listing .graph img,
.listing .icon img,
.detail-holder .map-holder img,
.component-map .map-holder img,
.images-block .image img {
	width: 100%;
	height: auto;
	display: block;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #eaecee;
	font: 14px/1.2 "Open Sans", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #414449;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #000;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #97a0a3;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #97a0a3;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #97a0a3;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #97a0a3;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #97a0a3;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.eot?24346726");
	src: url("../fonts/fontello.eot?24346726#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?24346726") format("woff"), url("../fonts/fontello.ttf?24346726") format("truetype"), url("../fonts/fontello.svg?24346726#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
}

.icon-th-list:before {
	content: "\e800";
}

.icon-map-pin:before {
	content: "\e801";
}

.icon-cancel:before {
	content: "\e802";
}

.icon-down-open:before {
	content: "\e803";
}

.icon-left-open:before {
	content: "\e804";
}

.icon-right-open:before {
	content: "\e805";
}

.icon-up-open:before {
	content: "\e806";
}

.icon-angle-left:before {
	content: "\e807";
}

.icon-angle-right:before {
	content: "\e808";
}

.icon-angle-up:before {
	content: "\e809";
}

.icon-angle-down:before {
	content: "\e80a";
}

.icon-share:before {
	content: "\e80b";
}

.icon-print:before {
	content: "\e80c";
}

.icon-print-1:before {
	content: "\e80d";
}

.icon-timeline:before {
	content: "\e80e";
}

.icon-wrench:before {
	content: "\e80f";
}

.icon-add:before {
	content: "\e810";
}

.icon-fan:before {
	content: "\e811";
}

.icon-fan2:before {
	content: "\e812";
}

.icon-folder:before {
	content: "\e813";
}

.icon-inspection:before {
	content: "\e814";
}

.icon-inspection2:before {
	content: "\e815";
}

.icon-mappin:before {
	content: "\e816";
}

.icon-menu:before {
	content: "\e817";
}

.icon-note:before {
	content: "\e818";
}

.icon-refresh:before {
	content: "\e819";
}

.icon-repair:before {
	content: "\e81a";
}

.icon-repair2:before {
	content: "\e81b";
}

.icon-report:before {
	content: "\e81c";
}

.icon-search:before {
	content: "\e81d";
}

.icon-settings:before {
	content: "\e81e";
}

.icon-cancel-1:before {
	content: "\e81f";
}

.icon-bell:before {
	content: "\e820";
}

#header {
	position: fixed;
	left: -220px;
	top: 0;
	bottom: 0;
	width: 220px;
	background: #2f4050;
	z-index: 1000;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

#header .user {
	overflow: hidden;
	background: #42586c;
	text-align: center;
	padding: 29px 10px 25px;
}

#header .avatar {
	margin: 0 auto 15px;
	overflow: hidden;
	border-radius: 100%;
	width: 78px;
	height: 78px;
	border: solid 4px #8b98a4;
}

#header .title {
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 7px;
}

#header .title a {
	color: #fff;
}

#header .title a:hover {
	opacity: .8;
}

#header .subtitle {
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #6bcf00;
}

#header .subtitle a {
	color: #6bcf00;
	display: inline-block;
	vertical-align: top;
}

#header .subtitle a:hover {
	opacity: .8;
}

#header .subtitle a:after {
	display: inline-block;
	vertical-align: middle;
	content: "";
	margin: 1px 0 0 6px;
	border-style: solid;
	border-width: 4px 3px 0 3px;
	border-color: #6bcf00 transparent transparent transparent;
}

#header .header-holder {
	height: 100%;
	overflow: auto;
}

#header .header-opener {
	display: none;
}

.header-opener {
	position: absolute;
	right: -33px;
	top: 24px;
	width: 23px;
	height: 21px;
}

.header-opener span,
.header-opener:after,
.header-opener:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 5px;
	background: #849cb0;
	content: "";
}

.header-opener span {
	top: 8px;
}

.header-opener:after {
	top: auto;
	bottom: 0;
}

.header-opener:hover span,
.header-opener:hover:after,
.header-opener:hover:before {
	background: #54a200;
}

.header-active #wrapper {
	padding-left: 0;
}

.header-active #header {
	left: 0;
}

.header-active .topbar {
	left: 220px;
	right: -220px;
}

.header-active .w1 {
	margin: 0 0 0 220px;
}

.resize-active #wrapper,
.resize-active #header,
.resize-active .w1,
.resize-active .topbar,
.resize-active .topbar .right-info,
.resize-active .btn-default2 {
	-webkit-transition: none !important;
	transition: none !important;
}

#nav {
	overflow: hidden;
}

#nav ul {
	overflow: hidden;
	font-size: 16px;
	line-height: 20px;
}

#nav ul li a {
	display: block;
	color: #eaecee;
	position: relative;
	padding: 20px 20px 20px 62px;
	border-left: solid 4px #2f4050;
}

#nav ul li a:hover {
	background: #273645;
	border-color: #54a200;
	color: #fff;
}

#nav ul li.active a {
	background: #273645;
	border-color: #54a200;
	color: #fff;
	font-weight: 600;
}

#nav ul li .ico {
	position: absolute;
	left: 23px;
	font-size: 18px;
	top: 21px;
}

#nav ul li .ico.icon-menu {
	font-size: 16px;
}

.topbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	padding: 7px 48px;
	background: #fff;
	height: 76px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.topbar .title-holder {
	display: block;
	text-align: center;
}

.topbar .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	color: #666;
	margin: 0 13px 0 0;
}

.topbar .version {
	display: inline-block;
	vertical-align: middle;
	color: #666;
	font-size: 12px;
	line-height: 14px;
}

.topbar .btn-default2 {
	min-width: 144px;
	float: right;
	vertical-align: middle;
}

.topbar .notifications {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 3px 0 0;
}

.topbar .notifications li {
	margin: 0 21px 0 0;
	float: left;
	font-size: 12px;
	line-height: 20px;
}

.topbar .notifications li .number {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: 600;
}

.topbar .notifications li .title {
	font-size: 12px;
	line-height: 14px;
	margin: 0;
}

.topbar .notifications li a {
	display: block;
}

.topbar .notifications li a:hover {
	opacity: .8;
}

.topbar .counter {
	margin: 1px 5px 0 0;
}

.topbar .menu-opener {
	position: absolute;
	right: 17px;
	top: 20px;
	font-size: 28px;
	line-height: 28px;
	color: #849cb0;
}

.topbar .menu-opener:hover {
	color: #54a200;
}

.topbar .menu-opener:after {
	position: absolute;
	right: 0;
	top: 3px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	content: "";
	pointer-events: none;
	background: #f13a3a;
	box-shadow: 0 0 5px #54a200, 0 0 5px #54a200;
}

.topbar .header-opener {
	display: block;
	left: 12px;
	top: 24px;
	right: auto;
}

a {
	text-decoration: none;
}

#wrapper {
	overflow: hidden;
	padding: 77px 0 0;
	-webkit-transition: padding .3s ease;
	transition: padding .3s ease;
}

.btn-default2 {
	display: inline-block;
	vertical-align: top;
	padding: 7px 20px 7px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	background: #54a200;
	color: #fff;
	border-radius: 3px;
}

.btn-default2:hover {
	background: #273645;
  color: #fff;
}

.counter {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	padding: 2px;
	background: #f13a3a;
	border-radius: 100%;
}

.counter.orange {
	background: #ff9126;
}

.counter.yellow {
	background: #ffd83d;
}

.counter.green {
	background: #94de45;
}

.w1 {
	width: 100%;
	-webkit-transition: margin .3s ease;
	transition: margin .3s ease;
}

#main {
	padding: 15px 10px 0;
}

#footer {
	overflow: hidden;
	background: #fff;
	padding: 15px 23px;
	font-size: 12px;
	line-height: 14px;
	color: #666;
}

#footer .copyright {
	display: block;
}

#footer .copyright a {
	font-weight: 600;
}

.header-bar {
	padding: 0 0 15px;
}

.header-bar .btn-add {
	float: left;
	color: #54a200;
	font-size: 23px;
	line-height: 23px;
	margin: 4px 0 0 0;
}

.header-bar .btn-add:hover {
	color: #849cb0;
}

.tabset {
	overflow: hidden;
	text-align: center;
	padding: 0 10px;
	letter-spacing: -6px;
}

.tabset li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	border-left: solid 1px #eaecee;
}

.tabset li a {
	display: block;
	width: 104px;
	font-size: 14px;
	line-height: 16px;
	color: #999;
	overflow: hidden;
	background: #fff;
	padding: 9px 15px;
	text-align: left;
}

.tabset li a:hover,
.tabset li a.active {
	background: #849cb0;
	color: #fff;
}

.tabset li a:hover i,
.tabset li a.active i {
	color: #fff;
}

.tabset li a.active {
	font-weight: 600;
}

.tabset li a i {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 0 0;
	font-size: 17px;
	line-height: 15px;
	color: #c4c6ca;
}

.tabset li a i.icon-folder {
	font-size: 14px;
}

.tabset li:first-child {
	border: 0;
}

.tabset li:first-child a {
	border-radius: 3px 0 0 3px;
}

.tabset li:last-child a {
	border-radius: 0 3px 3px 0;
}

.search-form {
	position: relative;
	height: 34px;
	border-radius: 3px;
	padding: 0 38px 0 0;
	border: solid 1px #d7dade;
	background: #fff;
}

.search-form .form-control {
	width: 100%;
	outline: none;
	box-shadow: none;
	background: none;
	border: 0;
	font-size: 12px;
	line-height: 16px;
	color: #999;
	color: #333;
	box-sizing: border-box;
	padding: 8px 13px 8px 13px;
}

.search-form .submit {
	position: absolute;
	right: 7px;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
	top: 7px;
	border: 0;
	width: 18px;
	height: 18px;
	background: none;
	border-radius: 0;
	color: #8aa1b5;
	outline: none;
	cursor: pointer;
	margin: 0;
}

.search-form .submit:hover {
	color: #000;
}

.search-form ::-webkit-input-placeholder {
	color: #999;
}

.search-form :-moz-placeholder {
	color: #999;
}

.search-form ::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.search-form :-ms-input-placeholder {
	color: #999;
}

.home .search-form {
	margin: 0 0 15px 35px;
}

.projectbox {
	position: relative;
	background: #fff;
	padding: 15px 15px 0;
	margin: 0 0 15px;
}

.projectbox .remove {
	position: absolute;
	right: 9px;
	top: 7px;
	font-size: 14px;
	line-height: 14px;
	color: #c4c6ca;
}

.projectbox .remove:hover {
	color: #000;
}

.projectbox .opener {
	position: absolute;
	right: 31px;
	top: 6px;
	font-size: 12px;
	line-height: 14px;
	color: #c4c6ca;
}

.projectbox .opener:hover {
	color: #000;
}

.projectbox .header {
	overflow: hidden;
	padding: 0 0 15px;
}

.projectbox .header .image {
	width: 74px;
	margin: 0 auto 10px;
	overflow: hidden;
}

.projectbox .header .text {
	overflow: hidden;
}

.projectbox .header .info {
	overflow: hidden;
}

.projectbox .header .site {
	display: block;
	font-size: 13px;
}

.projectbox .header .site a {
	color: #54a200;
	font-weight: 600;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 7px;
}

.projectbox .header .site a:hover {
	color: #000;
}

.projectbox h1 {
	font-size: 18px;
	margin: 0 0 12px;
	line-height: 22px;
}

.projectbox .product-id {
	display: inline-block;
	vertical-align: top;
	margin: 0 17px 0 0;
	color: #54a200;
	font-weight: 600;
}

.projectbox .power {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin: 0 17px 0 0;
}

.projectbox .address {
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	color: #849cb0;
	padding: 0 0 0 18px;
	margin: 0;
	position: relative;
}

.projectbox .address:before {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 14px;
	line-height: 14px;
	top: 0;
	color: #d7dade;
}

.projectbox .graph-holder {
	width: 220px;
	margin: 0 0 20px;
	display: none;
}

.projectbox .graph-holder .heading {
	display: block;
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.projectbox .graph {
	overflow: hidden;
	background: #f9f9f9;
}

.projectbox .graph img {
	display: block;
	width: 100%;
}

.projectbox .footer-bar {
	overflow: hidden;
	padding: 10px 0 13px 4px;
	border-top: solid 1px #eaecee;
}

.projectbox .footer-bar .hidden-items {
	display: inline-block;
	vertical-align: top;
	color: #666;
	margin: 0 15px 0 0;
}

.projectbox .show-all {
	display: inline-block;
	vertical-align: top;
	color: #54a200;
	font-weight: 600;
	padding: 0 18px 0 0;
	position: relative;
}

.projectbox .show-all i {
	position: absolute;
	right: 0;
	top: -2px;
	font-size: 16px;
}

.projectbox .show-all:hover {
	color: #000;
}

.projectbox .holder {
	padding: 18px 0 0 0;
}

.projectbox.projects-active .opener {
	top: 9px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.projectbox.projects-active .header {
	border-bottom: 1px solid #eaecee;
}

.projectbox.detail {
	padding-top: 12px;
	margin: 0 0 15px;
}

.projectbox.detail .holder {
	padding-right: 0;
	padding-bottom: 15px;
}

.projectbox.detail .items {
	width: auto;
	float: none;
	margin: 0 0 10px -20px;
}

.projectbox.detail .items .item {
	margin: 0 0 30px 20px;
	padding: 0;
	width: 215px;
}

.projectbox.detail .items .icon-holder .icon-frame {
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
}

.projectbox.detail .items .icon-holder .icon-frame:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}

.projectbox.detail .items .icon-holder .icon-frame > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}

.projectbox.detail .items .icon-holder .icon-frame span {
	margin: 0 0 4px;
}

.projectbox.detail .items .text {
	padding: 10px 0 0;
}

.projectbox .action-btns {
	float: right;
	padding: 15px 0 0;
}

.projectbox .print,
.projectbox .share {
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: #849cb0;
	line-height: 22px;
	margin: 0 10px 0 0;
}

.projectbox .print:hover,
.projectbox .share:hover {
	color: #000;
}

.projectbox .sidecol {
	overflow: hidden;
	margin: 0 0 20px;
	line-height: 21px;
}

.projectbox .sidecol .graph-holder {
	margin: 0 0 14px;
	width: 100%;
	float: none;
	overflow: hidden;
}

.projectbox .sidecol .fake-select {
	display: block;
	width: 100%;
	margin: 0 0 13px;
}

.projectbox .sidecol p {
	margin: 0;
}

.projectbox .btn-primary,
.projectbox .btn-default2 {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 8px;
	text-align: center;
	padding: 12px 19px;
	height: 40px;
}

.projectbox .btn-primary span,
.projectbox .btn-default2 span {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px 0 0;
	font-size: 18px;
}

.projectbox .more {
	display: inline-block;
	vertical-align: top;
	color: #54a200;
	font-weight: 600;
	padding: 0 13px 0 0;
	position: relative;
	margin: 0 0 15px;
}

.projectbox .more span {
	position: absolute;
	right: 0;
	top: -2px;
	font-size: 16px;
}

.projectbox .more:hover {
	color: #000;
}

.projectbox h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	margin: 0 0 16px;
}

.btn-primary {
	display: inline-block;
	vertical-align: top;
	padding: 7px 20px 7px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	background: #51677b;
	color: #fff;
	border-radius: 3px;
}

.btn-primary:hover {
	background: #54a200;
}

.items {
	letter-spacing: -10px;
	margin: 0 0 0 -14px;
	float: left;
	width: calc(100% + 14px);
}

.items .item {
	letter-spacing: 0;
	display: inline-block;
	vertical-align: top;
	width: 284px;
	padding: 0 0 30px 14px;
}

.items .icon-holder {
	float: left;
	margin: 0 22px 0 0;
	position: relative;
	width: 76px;
	height: 76px;
	text-align: center;
}

.items .icon-holder:after {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	height: 6px;
	content: "";
	border-radius: 3px;
	bottom: -13px;
}

.items .icon-holder.critical:after {
	background: #f13a3a;
}

.items .icon-holder.high:after {
	background: #ff9126;
}

.items .icon-holder.serious:after {
	background: #ffd83d;
}

.items .icon-holder.med:after {
	background: #94de45;
}

.items .icon-holder .icon-fan {
	position: absolute;
	left: 10px;
	bottom: 0;
}

.items .icon-holder .icon-frame {
	background: #eaecee;
	border-radius: 100%;
	font-size: 66px;
	width: 76px;
	height: 76px;
	position: relative;
	line-height: 64px;
	color: #849cb0;
	overflow: hidden;
}

.items .text {
	overflow: hidden;
}

.items .text ul {
	font-size: 14px;
	line-height: 20px;
}

.items .title {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #54a200;
	margin: 0 0 2px;
}

.items .title a {
	color: #54a200;
}

.items .title a:hover {
	opacity: .8;
}

.items .info-tooltip {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22px;
	height: 22px;
}

.items .info-tooltip .ico {
	font-size: 20px;
	line-height: 20px;
	color: #51677b;
}

.items .info-tooltip .ico:hover {
	color: #54a200;
}

.items .info-tooltip.hover .tooltip {
	opacity: 1;
	visibility: visible;
}

.findings {
	overflow: hidden;
	padding: 10px 0 0;
}

.findings li {
	float: left;
	margin: 0 8px 5px 0;
	position: relative;
	padding: 0 0 0 22px;
	font-size: 12px;
	line-height: 18px;
}

.findings li:after {
	position: absolute;
	left: 0;
	top: 3px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	content: "";
}

.findings li.exp:after {
	background: #d8d8d8;
}

.findings li.low:after {
	background: #99e3f6;
}

.findings li.high:after {
	background: #ff9126;
}

.findings li.med:after {
	background: #94de45;
}

.findings li.serious:after {
	background: #ffd83d;
}

.findings li.crit:after {
	background: #f13a3a;
}

.findings li span {
	font-weight: 600;
}

.tooltip {
	position: absolute;
	left: 100%;
	z-index: 15;
	top: -14px;
	color: #fff;
	opacity: 0;
	visibility: hidden;
}

.tooltip .tooltipframe {
	background: #51677b;
	width: 181px;
	position: relative;
	padding: 13px 17px;
	font-size: 12px;
	margin: 0 0 0 12px;
	text-align: left;
	line-height: 24px;
}

.tooltip .tooltipframe:after {
	position: absolute;
	right: 100%;
	top: 18px;
	content: "";
	border-style: solid;
	border-width: 7px 7px 7px 0;
	border-color: transparent #51677b transparent transparent;
}

.tooltip .progress-bar {
	display: block;
	height: 6px;
	background: #2f4050;
	margin: 3px 0 8px;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}

.tooltip .progress-bar .progress {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #fff;
}

.autocomplete-box {
	position: absolute;
	left: -1px;
	right: -1px;
	top: 100%;
	margin: -2px 0 0 0;
	background: #fff;
	z-index: 300;
	display: none;
	padding: 3px 0 0;
	border: solid 1px #d7dade;
	border-width: 0 1px 1px;
	border-radius: 0 0 3px 3px;
}

.autocomplete-box ul {
	padding: 0 4px;
}

.autocomplete-box ul li {
	overflow: hidden;
	padding: 7px 7px 8px;
	border-top: solid 1px #d7dade;
}

.autocomplete-box ul li:first-child {
	padding-top: 15px;
}

.autocomplete-box ul a {
	display: block;
}

.autocomplete-box ul a:hover {
	opacity: .7;
}

.autocomplete-box .icon {
	width: 45px;
	margin: 0 12px 0 0;
	float: left;
}

.autocomplete-box .title {
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	margin: 0 0 4px;
}

.autocomplete-box span {
	color: #54a200;
}

.autocomplete-box .text {
	overflow: hidden;
}

.autocomplete-box .text p {
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	color: #849cb0;
}

.autocomplete-box .btn-holder {
	overflow: hidden;
	background: #eaecee;
	padding: 9px 14px 7px;
	text-align: right;
}

.autocomplete-box .btn-more {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-weight: 600;
	color: #54a200;
}

.autocomplete-box .btn-more:hover {
	color: #000;
}

.autocomplete-box .btn-more:hover span {
	color: #000;
}

.autocomplete-box .btn-more span {
	margin: 0 0 0 7px;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.map-block {
	overflow: hidden;
	margin: 0 0 20px;
	position: relative;
	overflow: hidden;
}

.map-block .block-frame {
	height: 100%;
	border: solid 5px #fff;
}

.map-block .map {
	overflow: hidden;
	height: 430px;
	position: relative;
	background: #f3f1ed;
}

.map-block .map img {
	display: block;
	max-width: inherit;
}

.map-block .showtooltip {
	opacity: 1;
	top: -4px;
	visibility: visible;
}

.map-block .tooltip .title {
	font-size: 12px;
	display: block;
	font-weight: 600;
	line-height: 14px;
	margin: 0 0 12px;
}

.map-block .tooltip .tooltipframe {
	width: 194px;
}

.map-block .tooltip .meta {
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 4px;
}

.map-block .tooltip .meta li {
	display: inline-block;
	vertical-align: top;
}

.map-block .tooltip .meta li:before {
	display: inline-block;
	vertical-align: top;
	content: "|";
	position: relative;
	top: -1px;
	margin: 0 2px;
}

.map-block .tooltip .meta li:first-child:before {
	display: none;
}

.map-block .tooltip .address {
	font-size: 12px;
	line-height: 14px;
	color: #d7dade;
	padding: 0 0 0 19px;
	position: relative;
	font-style: normal;
	margin: 0 0 8px;
	display: block;
}

.map-block .tooltip .address:before {
	position: absolute;
	left: 0;
	font-size: 13px;
	line-height: 13px;
	top: 0;
	color: #d7dade;
}

.map-block .tooltip .work-progress {
	border-top: solid 1px #2f4050;
	margin: 17px -17px 0;
	padding: 8px 17px 0;
}

.map-block .fake-select select {
	font-size: 12px;
}

.map-popup {
	width: 40px;
	height: 50px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.btn-listing {
	position: absolute;
	left: -81px;
	width: 142px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	top: 61px;
	display: none;
}

.btn-listing .txt {
	display: inline-block;
	vertical-align: top;
	background: #849cb0;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 16px;
	padding: 3px 10px 1px;
	width: 114px;
	text-align: center;
	height: 20px;
	border-radius: 2px 0 0 0;
}

.btn-listing .ico {
	display: inline-block;
	vertical-align: top;
	background: #54a200;
	color: #fff;
	margin: 0 0 0 -2px;
	height: 20px;
	width: 26px;
	font-size: 12px;
	line-height: 12px;
	padding: 3px 2px;
	border-radius: 0 2px 0 0;
	text-align: center;
}

.btn-listing .ico:before {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.listing-block {
	overflow: hidden;
	background: #fff;
	-webkit-transition: right .4s ease;
	transition: right .4s ease;
}

.listing-block .head {
	overflow: hidden;
	padding: 16px 15px 8px;
	background: #f9f9f9;
}

.listing-block .head .heading {
	display: block;
	padding: 0 0 8px;
	font-size: 20px;
	line-height: 20px;
}

.listing-block .sortby {
	display: block;
	overflow: hidden;
}

.listing-block .sortby .label,
.listing-block .sortby .fake-select {
	font-size: 12px;
	line-height: 14px;
	display: block;
	margin: 0 0 8px;
}

.listing-block .sortby .fake-select {
	width: 100%;
}

.listing-block .listing-holder {
	overflow: hidden;
	padding: 0 10px;
}

.listing-active .listing-block {
	right: 0;
}

.listing-active .listing-block .btn-listing .txt {
	display: none;
}

.listing-active .listing-block .btn-listing .ico {
	float: right;
	border-radius: 2px 2px 0 0;
}

.listing-active .listing-block .btn-listing .ico:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.fake-select {
	position: relative;
	display: inline-block;
}

.fake-select select::-ms-expand {
	display: none;
}

.fake-select select {
	display: inline-block;
	border: 1px solid #d7dade;
	padding: 7px 3px 7px 10px;
	margin: 0;
	font: inherit;
	outline: none;
	line-height: 1.2;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 3px;
	font-size: 14px;
	height: 34px;
	line-height: 16px;
	width: 100%;
	position: relative;
}

.fake-select:before {
	content: "";
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 35px;
	background: #fff;
	pointer-events: none;
	border-radius: 0 3px 3px 0;
	z-index: 1;
}

.fake-select:after {
	position: absolute;
	right: 12px;
	top: 15px;
	content: "";
	position: absolute;
	border-style: solid;
	pointer-events: none;
	border-width: 5px 5px 0 5px;
	border-color: #849cb0 transparent transparent transparent;
	line-height: 0;
	z-index: 1;
}

.listing {
	overflow: hidden;
}

.listing > li {
	overflow: hidden;
	padding: 7px 0 9px;
	text-align: center;
	border-bottom: solid 1px #eaecee;
}

.listing > li:first-child {
	padding: 10px 0 9px;
}

.listing .graph {
	float: right;
	width: 105px;
	margin: 0 0 0 8px;
	display: none;
}

.listing .text-holder {
	overflow: hidden;
}

.listing .text {
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
}

.listing .text .heading {
	font-size: 14px;
	font-weight: 600;
	color: #54a200;
	line-height: 16px;
	display: block;
	margin: 0 0 8px;
}

.listing .text .heading a {
	color: #54a200;
}

.listing .text .heading a:hover {
	color: #000;
}

.listing .text p {
	margin: 0;
}

.listing .address {
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	font-size: 12px;
	line-height: 16px;
	color: #849cb0;
	padding: 0 0 0 18px;
	margin: 0 0 10px;
	position: relative;
	margin: 0 0 11px;
}

.listing .address:before {
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 0 0;
	color: #d7dade;
}

.listing .meta {
	margin: 0;
	padding: 0;
}

.listing .meta li {
	display: inline-block;
	vertical-align: top;
}

.listing .meta li:before {
	display: inline-block;
	vertical-align: top;
	content: "|";
	position: relative;
	top: -1px;
	margin: 0 2px;
}

.listing .meta li:first-child:before {
	display: none;
}

.listing .icon {
	width: 76px;
	height: 76px;
	position: relative;
	border-radius: 100%;
	margin: 0 auto 20px;
}

.listing .icon:before {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	bottom: -13px;
	height: 6px;
	background: #f13a3a;
	border-radius: 3px;
	content: "";
}

.listing .icon img {
	border-radius: 100%;
}

.jcf-scrollable {
	height: 420px;
}

.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}

.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: #eaecee;
	width: 4px;
	bottom: 0;
	right: 0;
	top: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #849cb0;
	height: 1px;
	width: 4px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}

.detail-holder {
	overflow: hidden;
}

.detail-holder .detail-frame {
	overflow: hidden;
	margin: 0 0 21px;
}

.detail-holder .detail-frame .text {
	overflow: hidden;
}

.detail-holder .detail-frame .positions,
.detail-holder .detail-frame .power {
	display: block;
	line-height: 18px;
}

.detail-holder .title {
	display: block;
	font-weight: 600;
	margin: 0 0 4px;
}

.detail-holder .map-holder {
	overflow: hidden;
	margin: 0 0 20px;
}

.detail-holder .info {
	overflow: hidden;
	padding: 10px 0 0;
	font-size: 12px;
	line-height: 20px;
	color: #666;
	margin: 0 0 7px -17px;
	max-width: 350px;
}

.detail-holder .info li {
	float: left;
	width: 170px;
	padding: 0 0 0 17px;
	border-left: solid 1px #c4c6ca;
}

.detail-holder .information {
	overflow: hidden;
	line-height: 24px;
}

.detail-holder .information li {
	position: relative;
	padding: 0 0 0 15px;
}

.detail-holder .information li:before {
	position: absolute;
	left: 0;
	top: 10px;
	content: "";
	width: 4px;
	height: 4px;
	background: #849cb0;
	border-radius: 100%;
}

.detail-holder .information li strong {
	font-weight: 600;
}

.tabs-area {
	overflow: hidden;
	margin: 0 0 20px;
}

.tabs-area .tabset {
	padding: 0 0 15px;
}

.tabs-area .tabset li {
	display: block;
	border-bottom: solid 1px #eaecee;
}

.tabs-area .tabset li a {
	width: auto;
	padding: 9px 19px;
}

.tabs-area .block-head {
	padding: 0 0 13px;
	border-bottom: solid 1px #eaecee;
}

.tabs-area .block-head h1 {
	font-size: 20px;
	line-height: 26px;
	margin: 0 0 8px;
	font-weight: 700;
	max-width: 700px;
}

.tabs-area .block-head .head-right .share {
	margin: 7px 6px 0 0;
}

.tabs-area .block-head .fake-select {
	float: left;
	width: 120px;
}

.tabs-area .block-head .fake-select select {
	padding: 4px 3px 8px 7px;
}

.tabs-area .block-head .share {
	float: right;
	font-size: 22px;
	color: #849cb0;
	line-height: 22px;
	margin: 4px 0 0;
}

.tabs-area .block-head .share:hover {
	color: #000;
}

.tabs-area .block-head .subheading {
	font-weight: 400;
	color: #666;
	display: inline-block;
	vertical-align: top;
	padding: 8px 0 0;
	font-size: 14px;
}

.tabs-area .footer-bar {
	overflow: hidden;
	padding: 10px 0 15px 10px;
	border-top: solid 1px #eaecee;
}

.tabs-area .footer-bar .hidden-items {
	display: inline-block;
	vertical-align: top;
	color: #666;
	margin: 0 15px 0 0;
}

.tabs-area .show-all {
	display: inline-block;
	vertical-align: top;
	color: #54a200;
	font-weight: 600;
	padding: 0 18px 0 0;
	position: relative;
}

.tabs-area .show-all i {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 16px;
	font-size: 16px;
}

.tabs-area .show-all:hover {
	color: #000;
}

.component-block {
	overflow: hidden;
	padding: 15px 15px 0;
	background: #fff;
}

.component-maps {
	margin: 0 0 12px;
}

.component-map {
	padding: 14px 0;
	border-bottom: solid 1px #eaecee;
	position: relative;
}

.component-map:last-child {
	border-bottom: 0;
}

.component-map .graph {
	overflow: hidden;
	margin: 0 auto 15px;
	background: #f9f9f9;
}

.component-map .graph img {
	display: block;
	max-width: 200px;
	margin: 0 auto;
}

.component-map .map-holder {
	position: relative;
}

.component-map .map-holder .tooltip {
	left: 0;
	top: 0;
	visibility: hidden;
}

.component-map .item {
	overflow: hidden;
	text-align: center;
	margin: 0 auto 15px;
}

.component-map .item ul {
	font-size: 14px;
	line-height: 20px;
}

.component-map .item .icon-holder {
	margin: 0 auto 25px;
	position: relative;
	width: 76px;
	height: 76px;
	text-align: center;
}

.component-map .item .icon-holder:after {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	height: 6px;
	content: "";
	border-radius: 3px;
	bottom: -13px;
}

.component-map .item .icon-holder.critical:after {
	background: #f13a3a;
}

.component-map .item .icon-holder.high:after {
	background: #ff9126;
}

.component-map .item .icon-holder.serious:after {
	background: #ffd83d;
}

.component-map .item .icon-holder.med:after {
	background: #94de45;
}

.component-map .item .icon-holder .icon-fan {
	position: absolute;
	bottom: 0;
}

.component-map .item .icon-holder .icon-frame {
	background: #eaecee;
	border-radius: 100%;
	width: 76px;
	height: 76px;
	position: relative;
	color: #849cb0;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.component-map .item .icon-holder .icon-frame:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}

.component-map .item .icon-holder .icon-frame > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}

.component-map .item .icon-holder .icon-frame span {
	padding: 0 0 2px 3px;
}

.component-map .title {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #54a200;
	margin: 0 0 2px;
}

.component-map .title a {
	color: #54a200;
}

.component-map .title a:hover {
	opacity: .8;
}

.findings-block .block-head {
	margin: 0 0 20px;
	padding: 0 0 7px 6px;
}

.main-table {
	overflow: hidden;
	padding: 0 0 23px;
}

.main-table table {
	width: 100%;
}

.main-table table td {
	padding: 8px 7px 7px;
}

.main-table table td .status {
	color: #54a200;
}

.main-table table td .status a {
	color: #54a200;
}

.main-table table td .status a:hover {
	color: #333;
}

.main-table table tr:nth-child(odd) td {
	background: #f9f9f9;
}

.main-table table tr.normal .counter {
	background: #99e3f6;
}

.main-table table tr.medium .counter {
	background: #94de45;
}

.main-table table tr.serious .counter {
	background: #ffd83d;
}

.main-table table tr.high .counter {
	background: #ff9126;
}

.main-table table tr.critical .counter {
	background: #f13a3a;
}

.main-table table tr.resolved .counter {
	background: #d8d8d8;
}

.main-table .btn-primary,
.main-table .btn-default2 {
	display: inline-block;
	vertical-align: top;
	min-width: 88px;
	padding: 4px 10px;
	font-size: 14px;
	margin: 0 3px 0 0;
}

.main-table .link {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	color: #849cb0;
	font-size: 22px;
	line-height: 20px;
}

.main-table .link:hover {
	color: #000;
}

.main-table .link.icon-wrench {
	font-size: 20px;
}

.main-table .title {
	display: block;
	font-weight: 400;
	line-height: 20px;
	padding: 10px 8px 0 0;
}

.main-table .title a {
	font-weight: 600;
	color: #54a200;
}

.main-table .title a:hover {
	color: #333;
}

.main-table .counter {
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px 0 0;
}

.main-table .btn-info {
	min-width: 88px;
}

.main-table.timeline table {
	border-bottom: solid 1px #eaecee;
}

.main-table.timeline .title {
	font-size: 14px;
}

.main-table .btn-share,
.main-table .note {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 15px;
	color: #849cb0;
	margin: 0 0 0 7px;
}

.main-table .btn-share:hover,
.main-table .note:hover {
	color: #333;
}

.btn-info {
	display: inline-block;
	vertical-align: top;
	padding: 4px 10px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	background: #c4c6ca;
	color: #fff;
	border-radius: 3px;
}

.btn-info:hover {
	background: #2f4050;
}

.inspection-block {
	overflow: hidden;
	padding: 19px 0 0;
}

.inspection-block.repairs {
	padding: 0;
}

.inspection-block .block-head {
	margin: 0 0 20px;
}

.inspection-block .block-head h1 {
	width: 28.5%;
}

.inspection-block .main-table table {
	border-bottom: solid 1px #eaecee;
}

.inspection-block .main-table table td {
	padding: 12px 7px 10px;
}

.inspection-block .main-table table .link {
	margin: 0 7px 0 4px;
}

.blade-details {
	overflow: hidden;
	padding: 0 0 10px;
}

.blade-details .information {
	overflow: hidden;
	padding: 0 0 16px;
}

.blade-details .information li {
	overflow: hidden;
}

.blade-details .links-bar {
	overflow: hidden;
	border-top: solid 1px #eaecee;
	padding: 10px 0 15px 15px;
}

.blade-details .links-bar .link {
	float: right;
	font-weight: 600;
	font-size: 14px;
	color: #54a200;
}

.blade-details .links-bar .link:hover {
	color: #333;
}

.blade-details .detail-slide {
	overflow: hidden;
}

.blade-details .more {
	margin: 0 !important;
}

.blade-details .information-block {
	overflow: hidden;
	margin: -3px 0 0;
}

.blade-details .information-block .info-holder {
	overflow: hidden;
	padding: 0 0 17px;
}

.blade-details .information-block .information {
	padding: 0;
	overflow: hidden;
	margin: 0 0 15px;
}

.blade-details .information-block .information li {
	float: none;
	width: auto;
}

.inspection-info {
	overflow: hidden;
	padding: 6px 0 0;
}

.inspection-info li {
	color: #54a200;
	margin: 0 0 6px;
}

.inspection-info li a {
	font-weight: 600;
	color: #54a200;
}

.inspection-info li time {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 0 16px;
	color: #666;
}

.more-info {
	overflow: hidden;
	margin: 0 0 10px;
}

.more-info .heading {
	display: block;
	font-size: 16px;
	padding: 0 0 15px 12px;
	font-weight: 400;
}

.more-info .links-bar {
	background: #fdfdfd;
	padding: 5px 10px 5px;
}

.more-info .slide2 {
	overflow: hidden;
	background: #fdfdfd;
	position: relative;
	padding: 10px;
}

.more-info .slide2 .icon {
	max-width: 30px;
	margin: 0 0 10px;
	color: #849cb0;
}

.more-info .slide2 .icon.ico2 {
	padding: 12px 0 0;
}

.more-info .slide2 .icon img {
	display: block;
	width: 100%;
}

.more-info .slide2 .heading {
	padding: 0;
	font-size: 14px;
	margin: 0 0 18px;
	font-weight: 600;
}

.more-info .slide2 .info {
	margin: 0 0 0 -17px;
	padding: 0;
}

.more-info .slide2 .info li:nth-child(odd) {
	border: 0;
}

.more-info .slide2 .text {
	line-height: 20px;
	overflow: hidden;
	padding: 0 0 5px;
}

.more-info .slide2 .text p {
	margin: 0;
}

.details-block {
	overflow: hidden;
}

.details-block h2 {
	border-bottom: solid 1px #eaecee;
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 14px;
	margin: 0 0 18px;
}

.details-block .frame {
	padding: 0 0 8px;
}

.details-block ul {
	overflow: hidden;
	line-height: 24px;
}

.details-block ul li {
	position: relative;
	padding: 0 0 0 16px;
}

.details-block ul li:before {
	position: absolute;
	left: 0;
	top: 10px;
	content: "";
	width: 4px;
	height: 4px;
	background: #849cb0;
	border-radius: 100%;
}

.details-block ul li strong {
	font-weight: 600;
}

.details-block .information {
	overflow: hidden;
	margin: 0 0 15px;
}

.details-block .information li {
	padding: 0 0 0 13px;
}

.details-block .findings-info {
	overflow: hidden;
	padding: 0 20px 0 0;
}

.details-block .findings-info li {
	margin: 0 0 9px;
}

.images-block {
	overflow: hidden;
}

.images-block h2 {
	border-bottom: solid 1px #eaecee;
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 17px 8px;
	margin: 0 0 40px;
}

.images-block .gallery-holder {
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
	margin: 0 -10px;
}

.images-block .gallery-holder .col {
	float: left;
	width: 100%;
	padding: 0 10px 20px;
}

.images-block .gallery-holder p {
	margin: 0;
}

.images-block .image {
	overflow: hidden;
	border: solid 1px #eaecee;
	margin: 0 0 22px;
}

.images-block .heading {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin: 0 0 10px;
}

@media (min-width: 480px) {
	.map-block .block-frame {
		border: solid 10px #fff;
	}

	.listing-block .listing-holder {
		padding: 0 12px;
	}

	.listing > li {
		text-align: left;
	}

	.listing .graph {
		display: block;
	}

	.listing .text {
		font-size: 14px;
		padding: 10px 0 0;
		line-height: 20px;
	}

	.listing .address:before {
		position: absolute;
		left: 0;
		margin: 0;
		top: 2px;
		top: 0;
	}

	.listing .icon {
		margin: 7px 19px 0 8px;
		float: left;
	}

	.tabs-area .tabset li {
		display: inline-block;
		border-bottom: 0;
		vertical-align: top;
	}

	.images-block .gallery-holder .col {
		width: 50%;
	}
}

@media (min-width: 768px) {
	#header .header-opener {
		display: block;
	}

	.header-opener {
		top: 7px;
		right: -30px;
	}

	.topbar {
		height: 90px;
		padding: 7px 20px 7px 20px;
	}

	.topbar .title-holder {
		padding: 0 0 12px 25px;
		text-align: left;
	}

	.topbar .menu-opener {
		display: none;
	}

	.topbar .header-opener {
		display: none;
	}

	#wrapper {
		padding: 90px 0 0;
	}

	#main {
		padding: 15px 20px 0;
	}

	.header-bar .btn-add {
		margin: 4px 0 0 4px;
	}

	.search-form {
		float: right;
		width: 305px;
	}

	.home .search-form {
		margin: 0;
	}

	.projectbox {
		padding: 22px 26px 0;
		margin: 0 0 20px;
	}

	.projectbox .header .image {
		margin: 0 22px 0 0;
		float: left;
	}

	.projectbox .header .image.blade {
		margin: 13px 22px 0 0;
	}

	.projectbox .header .text {
		padding: 6px 0 0;
	}

	.projectbox .header .site {
		margin: 0 15px 0 0;
		font-size: 14px;
	}

	.projectbox h1 {
		font-size: 20px;
		line-height: 24px;
	}

	.projectbox .address {
		margin: 0;
	}

	.projectbox .holder {
		padding: 25px 0 0 0;
	}

	.projectbox.detail .header .text {
		float: left;
		max-width: 500px;
		padding: 15px 0 0;
	}

	.projectbox .action-btns {
		padding: 46px 6px 0 0;
	}

	.projectbox .print,
	.projectbox .share {
		margin: 0 0 0 20px;
	}

	.projectbox .sidecol {
		float: right;
		width: 200px;
		margin: 0 0 0 15px;
	}

	.projectbox .btn-primary,
	.projectbox .btn-default2 {
		padding: 12px 8px;
		text-align: left;
	}

	.projectbox .more {
		margin: 0 0 33px;
	}

	.items .item {
		width: 50%;
		padding: 0 0 41px 14px;
	}

	.findings li {
		margin: 0 8px 0 0;
	}

	.map-block .map {
		height: 100%;
	}

	.map-block .map img {
		width: 100%;
	}

	.btn-listing {
		display: block;
	}

	.listing-block {
		padding: 0 4px 0 0;
	}

	.listing-block {
		position: absolute;
		right: -560px;
		top: 0;
		overflow: visible;
		z-index: 100;
		bottom: 0;
		width: 560px;
	}

	.listing-block .head {
		margin: 0 -4px 0 0;
	}

	.listing-block .head {
		padding: 16px 18px 16px 25px;
	}

	.listing-block .head .heading {
		float: left;
		max-width: 200px;
		padding: 7px 0 0;
	}

	.listing-block .sortby {
		float: right;
	}

	.listing-block .sortby .label,
	.listing-block .sortby .fake-select {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 9px;
	}

	.listing-block .sortby .fake-select {
		width: 180px;
	}

	.jcf-scrollable {
		height: calc(100% - 66px);
	}

	.tabs-area .block-head h1 {
		float: left;
		margin: 0;
	}

	.tabs-area .block-head .head-right {
		float: right;
		width: 173px;
		margin: -3px 0 0;
	}

	.tabs-area .block-head .fake-select {
		width: 98px;
	}

	.component-block {
		padding: 31px 26px 0;
	}

	.component-map .graph {
		float: right;
		width: 173px;
		max-width: inherit;
		margin: 0 0 0 15px;
	}

	.component-map .graph img {
		display: block;
		width: 100%;
		max-width: 100%;
	}

	.component-map .map-holder {
		max-width: 698px;
		overflow: hidden;
		margin: 0 auto;
		min-height: 130px;
	}

	.component-map .item {
		float: left;
		text-align: left;
		width: 120px;
		margin: 9px 15px 0 0;
	}

	.component-map .item .icon-holder {
		margin: 0 0 25px;
	}

	.main-table table td.btns {
		text-align: right;
	}

	.main-table table td.last {
		text-align: right;
	}

	.main-table .fixed {
		float: right;
	}

	.main-table .btn-primary,
	.main-table .btn-default2 {
		min-width: 80px;
		margin: 0 0 0 3px;
	}

	.main-table .link {
		margin: 0 14px 0 3px;
	}

	.main-table .title {
		line-height: 16px;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.main-table .btn-info {
		min-width: 80px;
	}

	.blade-details {
		padding: 0 0 4px;
	}

	.more-info .slide2 {
		padding: 24px 15px 10px 58px;
	}

	.more-info .slide2 .icon {
		position: absolute;
		left: 16px;
		top: 10px;
		margin: 0;
	}

	.more-info .slide2 .text {
		padding: 0 0 10px;
	}

	.details-block {
		padding: 34px 0 0;
	}

	.details-block h2 {
		padding: 0 0 17px 7px;
		margin: 0 0 23px;
	}

	.details-block .information li {
		float: left;
		width: 61%;
	}

	.details-block .information li:nth-child(even) {
		width: 39%;
	}

	.images-block .gallery-holder {
		margin: 0 -52px 0 0;
	}

	.images-block .gallery-holder .col {
		width: 280px;
		padding: 0;
		margin: 0 53px 15px 0;
	}
}

@media (min-width: 1024px) {
	#header {
		left: 0;
	}

	.header-active #header {
		left: -220px;
	}

	.header-active .topbar {
		padding-left: 22px;
		left: 0;
		right: 0;
	}

	.header-active .w1 {
		margin: 0;
	}

	.topbar {
		padding: 7px 20px 7px 240px;
	}

	#wrapper {
		padding: 90px 0 0 220px;
	}

	#main {
		min-height: calc(100vh - 135px);
	}

	.projectbox .header .site {
		display: inline-block;
		vertical-align: top;
	}

	.projectbox .graph-holder {
		margin: 0 -216px 15px 0;
		float: right;
		width: 190px;
		display: block;
	}

	.projectbox .holder {
		padding: 25px 216px 0 0;
	}

	.projectbox.projects-active .findings {
		display: none;
	}

	.projectbox.detail .items .item {
		width: 217px;
	}

	.projectbox .sidecol {
		margin: 0 0 15px 20px;
		width: 220px;
	}

	.projectbox .btn-primary,
	.projectbox .btn-default2 {
		padding: 12px 19px;
	}

	.projectbox .btn-primary span,
	.projectbox .btn-default2 span {
		margin: 0 20px 0 0;
	}

	.findings {
		float: right;
		padding: 0;
		max-width: 720px;
	}

	.findings li {
		margin: 0 0 0 8px;
	}

	.map-block {
		height: calc(100vh - 218px);
		margin: 0;
	}

	.detail-holder .map-holder {
		width: 270px;
	}

	.tabs-area .block-head .head-right {
		width: 214px;
	}

	.main-table table td.btns {
		width: 228px;
	}

	.main-table table td.last {
		width: 226px;
	}

	.main-table .btn-primary,
	.main-table .btn-default2 {
		min-width: 100px;
	}

	.main-table .btn-info {
		min-width: 99px;
	}

	.inspection-block .main-table table td:nth-child(2) {
		width: 18.7%;
	}

	.inspection-block .main-table table .link {
		margin: 0 20px 0 4px;
	}

	.blade-details .information li {
		float: left;
		width: 45%;
		margin: 0 15px 0 0;
	}

	.blade-details .information-block {
		padding: 0 0 35px;
	}

	.blade-details .information-block .links-bar {
		padding-bottom: 37px;
	}

	.details-block .information {
		float: left;
		width: 439px;
		margin: 0 10px 0 0;
	}
}

@media only screen and (min-width: 1025px) {
	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}

@media (min-width: 1360px) {
	.topbar {
		height: 66px;
		padding: 16px 20px 17px 222px;
	}

	.topbar .title-holder {
		float: left;
		padding: 7px 0 0 67px;
	}

	.topbar .btn-default2 {
		float: none;
	}

	.topbar .notifications {
		padding: 0 3px 0 0;
	}

	.topbar .right-info {
		float: right;
	}

	#wrapper {
		padding: 66px 0 0 220px;
	}

	#main {
		min-height: calc(100vh - 110px);
	}

	.tabset {
		padding: 0 30px 0 0px;
	}

	.projectbox .header .site {
		margin: 0 89px 0 0;
	}

	.projectbox .graph-holder {
		width: 212px;
		margin: 0 -244px 15px 0;
	}

	.projectbox .footer-bar .hidden-items {
		margin: 0 65px 0 0;
	}

	.projectbox .holder {
		padding: 25px 244px 0 0;
	}

	.projectbox.detail .header .text {
		max-width: 800px;
	}

	.projectbox.detail .items {
		margin: 0 0 0 -44px;
	}

	.projectbox.detail .items .item {
		margin: 0 0 20px 44px;
		width: 226px;
	}

	.projectbox .sidecol {
		width: 240px;
		margin: 3px 0 15px 20px;
	}

	.items {
		margin: 0 0 0 -30px;
		width: calc(100% + 30px);
	}

	.items .item {
		width: 33.33%;
		padding: 0 0 41px 30px;
	}

	.findings li {
		margin: 0 0 0 15px;
	}

	.map-block {
		height: calc(100vh - 185px);
	}

	.detail-holder .map-holder {
		float: left;
		margin: 2px 50px 0 0;
	}

	.tabs-area .footer-bar .hidden-items {
		margin: 0 21px 0 0;
	}

	.component-map .graph {
		width: 212px;
		margin: 0 0 0 30px;
	}

	.component-map .item {
		width: 140px;
		margin: 9px 25px 0 0;
	}

	.blade-details .information {
		margin: -3px 0 0;
		padding: 0 0 16px 96px;
	}

	.blade-details .information li {
		width: 38%;
	}

	.blade-details .information li:nth-child(even) {
		width: 50%;
	}

	.blade-details .links-bar {
		padding: 10px 0 42px 15px;
	}

	.blade-details .detail-slide {
		padding: 0 0 0 99px;
	}

	.blade-details .information-block {
		padding: 0 0 0 96px;
	}

	.blade-details .information-block .information {
		float: left;
		width: 265px;
		margin: 0 15px 0 0;
	}

	.more-info .slide2 .info {
		margin: 0;
	}

	.more-info .slide2 .text {
		width: 257px;
		padding: 0 15px 0 0;
		float: left;
	}

	.details-block .frame {
		padding: 0 0 8px 108px;
	}

	.details-block .information {
		margin: 0 10px 0 -10px;
		width: 549px;
	}

	.images-block .gallery-holder {
		padding: 0 0 0 97px;
	}
}

@media (min-width: 1420px) {
	.blade-details {
		padding: 0 55px 4px 0;
	}
}

@media (max-width: 767px) {
	.topbar .title-holder {
		height: 61px;
	}

	.topbar .title-holder:after {
		display: inline-block;
		vertical-align: middle;
		content: "";
		height: 100%;
	}

	.topbar .title-holder .title-frame {
		display: inline-block;
		vertical-align: middle;
		max-width: 99%;
	}

	.topbar .right-info {
		position: fixed;
		left: 0;
		right: 0;
		top: 76px;
		bottom: 0;
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
	}

	.topbar .right-info .btn-default2 {
		float: none;
		display: block;
		width: 100%;
		height: auto;
		max-width: inherit;
		padding: 13px 20px;
	}

	.topbar .right-info .btn-default2:hover {
		background: #5fb502;
	}

	.topbar .right-info .rightinfo-frame {
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		background: #2f4050;
		overflow: auto;
		height: 100%;
	}

	.topbar .notifications {
		padding: 0;
		display: block;
	}

	.topbar .notifications li {
		float: none;
		display: block;
		margin: 0;
		border-top: solid 1px #42586c;
	}

	.topbar .notifications li:first-child {
		border: 0;
	}

	.topbar .notifications li a {
		display: block;
		padding: 15px 15px;
	}

	.topbar .notifications li a .title {
		color: #fff;
	}

	.topbar .notifications li a:hover {
		background: #42586c;
		opacity: 1;
	}

	body.menu-active {
		overflow: hidden;
		position: fixed;
		width: 100%;
		left: 0;
	}

	body.menu-active .topbar .right-info {
		opacity: 1;
		overflow: auto;
		max-height: 4000px;
	}

	body.menu-active .topbar .rightinfo-frame {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	.jcf-scrollable-wrapper {
		width: 100% !important;
	}

	.jcf-scrollable-wrapper .jcf-scrollable {
		width: 100% !important;
	}

	.main-table table {
		width: 100%;
	}

	.main-table table tr {
		float: left;
		position: relative;
		width: 100%;
		padding: 0 68px 5px 15px !important;
	}

	.main-table table tr:nth-child(odd) {
		background: #f9f9f9;
	}

	.main-table table tr .link,
	.main-table table tr .counter {
		position: absolute;
		right: 10px;
		top: 10px;
		margin: 0;
	}

	.main-table table tr .counter {
		right: 45px;
	}

	.main-table table tr td {
		float: left;
		background: none;
		padding: 0 0 10px !important;
		width: 100%;
	}
}

@media (max-width: 479px) {
	.tabs-area .tabset li a {
		border-radius: 0 !important;
	}
}

