<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title>Wind Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body ng-cloak ng-app="windmanagerApp" ng-controller="GlobalCtrl as global" ng-class="global.$state.current.data.bodyClass">
    <!--[if lt IE 7]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-cloak id="wrapper" ng-if="!global.noExtraFeatures">
      <!-- Add your site or application content here -->
      <sidebar ng-cloak ng-if="global.sideNavOpen"></sidebar>
      <navbar ng-cloak ng-if="global.topNavOpen"></navbar>
      <div ng-cloak ui-view=""></div>
      <footer ng-cloak id="footer" ng-if="global.footerOpen"></footer>
    </div>
    <div ng-cloak ng-if="global.noExtraFeatures" ui-view=""></div>

    <link rel="stylesheet" href="assets/css/main.css">
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-socket-io/socket.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <script src="bower_components/spin.js/spin.js"></script>
      <script src="bower_components/angular-spinner/angular-spinner.js"></script>
      <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-moment/angular-moment.js"></script>
      <!-- endbower -->
      <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->
    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/admin/admin.module.js"></script>
      <script src="components/auth/auth.module.js"></script>
      <script src="components/util/util.module.js"></script>
      <script src="components/directives/showAll/showAll.directive.js"></script>
      <script src="app/admin/admin.controller.js"></script>
      <script src="app/account/account.js"></script>
      <script src="app/admin/admin.router.js"></script>
      <script src="app/app.constant.js"></script>
      <script src="app/blade/blade.controller.js"></script>
      <script src="app/blade/blade.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="app/turbine/turbine.controller.js"></script>
      <script src="app/turbine/turbine.js"></script>
      <script src="app/account/settings/settings.controller.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/interceptor.service.js"></script>
      <script src="components/auth/router.decorator.js"></script>
      <script src="components/auth/user.service.js"></script>
      <script src="components/controllers/global/global.controller.js"></script>
      <script src="components/directives/blade/addBlade/addBlade.directive.js"></script>
      <script src="components/directives/blade/controller/addEditBlade/addEditBlade.controller.js"></script>
      <script src="components/directives/blade/controller/listBlade/listBlade.controller.js"></script>
      <script src="components/directives/blade/controller/viewBlade/viewBlade.controller.js"></script>
      <script src="components/directives/blade/listBlade/listBlade.directive.js"></script>
      <script src="components/directives/blade/viewBlade/viewBlade.directive.js"></script>
      <script src="components/directives/customForms/customForms.directive.js"></script>
      <script src="components/directives/customHover/customHover.directive.js"></script>
      <script src="components/directives/listingNav/listingNav.directive.js"></script>
      <script src="components/directives/mobileNav/mobileNav.directive.js"></script>
      <script src="components/directives/openClose/openClose.directive.js"></script>
      <script src="components/directives/placeHolder/placeHolder.directive.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="components/directives/sidebar/sidebar.controller.js"></script>
      <script src="components/directives/sidebar/sidebar.directive.js"></script>
      <script src="components/directives/site/addSite/addSite.directive.js"></script>
      <script src="components/directives/site/controllers/addEditSite/addEditSite.controller.js"></script>
      <script src="components/directives/site/controllers/listSite/listSite.controller.js"></script>
      <script src="components/directives/site/controllers/siteMap/siteMap.controller.js"></script>
      <script src="components/directives/site/listSite/listSite.directive.js"></script>
      <script src="components/directives/site/siteMap/siteMap.directive.js"></script>
      <script src="components/directives/tabset/tabset.directive.js"></script>
      <script src="components/directives/turbine/addTurbine/addTurbine.directive.js"></script>
      <script src="components/directives/turbine/controllers/addEditTurbine/addEditTurbine.controller.js"></script>
      <script src="components/directives/turbine/controllers/listTurbine/listTurbine.controller.js"></script>
      <script src="components/directives/turbine/controllers/viewTurbine/viewTurbine.controller.js"></script>
      <script src="components/directives/turbine/listTurbine/listTurbine.directive.js"></script>
      <script src="components/directives/turbine/viewTurbine/viewTurbine.directive.js"></script>
      <script src="components/footer/footer.directive.js"></script>
      <script src="components/modal/blade/addEditBladeModal/addEditBladeModal.controller.js"></script>
      <script src="components/modal/generic/modal.service.js"></script>
      <script src="components/modal/site/addEditSiteModal/addEditSiteModal.controller.js"></script>
      <script src="components/modal/turbine/addEditTurbineModal/addEditTurbineModal.controller.js"></script>
      <script src="components/mongoose-error/mongoose-error.directive.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/navbar/navbar.directive.js"></script>
      <script src="components/oauth-buttons/oauth-buttons.controller.js"></script>
      <script src="components/oauth-buttons/oauth-buttons.directive.js"></script>
      <script src="components/services/blade/blade.service.js"></script>
      <script src="components/services/finding/finding.service.js"></script>
      <script src="components/services/site/site.service.js"></script>
      <script src="components/services/turbine/turbine.service.js"></script>
      <script src="components/socket/socket.service.js"></script>
      <script src="app/account/signup/signup.controller.js"></script>
      <script src="components/util/util.service.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->

    <script src="assets/js/jquery.main.js" defer></script>
  </body>
</html>
