<section class="projectbox detail projects-active" open-close="{activeClass: 'projects-active', opener: '.opener', slider: '.holder', animSpeed: 400, effect: 'slide'}">
  <a href="#" class="remove icon-cancel"></a>
  <a href="#" class="opener icon-down-open"></a>
  <header class="header">
    <div class="image">
      <img src="assets/images/icon-fan.jpg" alt="image description">
    </div>
    <div class="text">
      <h1><span ng-if="turbine.make">{{turbine.make}}</span> <span ng-if="turbine.model">{{turbine.model}}</span></h1>
      <span class="site" ng-if="turbine.site && turbine.site.name">Site: <a ui-sref="main">{{turbine.site.name}}</a></span>
    </div>
    <div class="action-btns">
    </div>
  </header>
  <div class="holder">
    <div class="sidecol">
      <!--<span class="fake-select">-->
      <!--<select>-->
      <!--<option selected="selected">Actions</option>-->
      <!--<option>Option 2</option>-->
      <!--<option>Option 3</option>-->
      <!--<option>Option 4</option>-->
      <!--</select>-->
      <!--</span>-->
      <div class="graph-holder">
        <strong class="heading">Finding Distribution</strong>
        <div class="graph">
          <img alt="image description" src="assets/images/img6.jpg">
        </div>
      </div>
      <a href="#" class="btn-primary"><span class="icon-repair2"></span>Schedule Repair</a>
      <a href="#" class="btn-default2"><span class="icon-inspection2"></span>Schedule Inspection</a>
      <p>Further Inspection Recommended: <strong>14 WTGs</strong></p>
      <p>Inspection not performed in <strong>30 days</strong><br>Last inspection:
        <time datetime="2016-06-14">14/6/2013</time>
      </p>
    </div>
    <div class="detail-holder">
      <div class="detail-frame">
        <div class="map-holder" ng-if="turbine.site && turbine.site.location" map-lazy-load="https://maps.google.com/maps/api/js?key={{vtc.API_KEY}}">
          <ng-map center="{{vtc.getAddress(turbine.site.location)}}" zoom="11" style="width:100%; height:100%;" default-style="false">
            <custom-marker id="foo" position="{{vtc.getAddress(turbine.site.location)}}">
              <div class="map-popup">
                <div class="ico">
                  <img src="assets/images/icon-critical.png" alt="image description">
                </div>
              </div>
            </custom-marker>
          </ng-map>
        </div>
        <div class="text">
          <strong class="title" ng-if="turbine.model">{{turbine.model}}</strong>
          <span class="positions" ng-if="turbine.sitePosition">Site Position {{turbine.sitePosition}}</span>
          <span class="power" ng-if="turbine.capacity">{{turbine.capacity}}MW</span>
          <ul class="info">
            <li ng-if="turbine.manufactured">Manufactured {{turbine.manufactured | date:'M/d/yyyy'}}</li>
            <li>In service for {{turbine.commisioning | amTimeAgo : null : 'seconds' }}</li>
            <li ng-if="turbine.commisioning">Commisioning {{turbine.commisioning | date:'M/d/yyyy'}}</li>
            <li ng-if="turbine.serial">{{turbine.serial}}</li>
          </ul>
          <ul class="information">
            <!--<li ng-if="turbine.type"><strong>Type:</strong> {{turbine.type}}</li>-->
            <!--<li ng-if="turbine.position"><strong>Position:</strong> {{turbine.position}}</li>-->
            <!--<li ng-if="turbine.diameter"><strong>Diameter:</strong> {{turbine.diameter}} m</li>-->
            <!--<li ng-if="turbine.powerRegulation"><strong>Power regulation:</strong> {{turbine.powerRegulation}}</li>-->
            <!--<li ng-if="turbine.capacityFactor"><strong>Capacity Factor:</strong> {{turbine.capacityFactor}}%</li>-->
          </ul>
        </div>
      </div>
      <list-blade ng-class="turbine && turbine.blades" blades="turbine.blades"></list-blade>
    </div>
  </div>
</section>
