<div class="container">
  <br/>
  <br/>
  <br/>
  <div class="col-sm-12 col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><h2>Wind Manager</h2></div>
      <div class="panel-body">
        <span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>
        <p class="text-center">Admin account is <code>admin@example.com</code> / <code>admin</code></p>
        <div class="col-sm-12">
          <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

            <div class="form-group">
              <label>Email</label>

              <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
            </div>

            <div class="form-group">
              <label>Password</label>

              <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                Please enter a valid email.
              </p>

              <p class="help-block">{{ vm.errors.other }}</p>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit" ng-disabled="vm.isDisabled">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
