@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/bootstrap-social/bootstrap-social.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.padder {
  padding: 0px 15px;
}

/* inject:less */
@import 'admin/admin.less';
@import 'blade/blade.less';
@import 'main/main.less';
@import 'turbine/turbine.less';
@import '../components/directives/blade/addBlade/addBlade.less';
@import '../components/directives/blade/listBlade/listBlade.less';
@import '../components/directives/blade/viewBlade/viewBlade.less';
@import '../components/directives/sidebar/sidebar.less';
@import '../components/directives/site/addSite/addSite.less';
@import '../components/directives/site/listSite/listSite.less';
@import '../components/directives/site/siteMap/siteMap.less';
@import '../components/directives/turbine/addTurbine/addTurbine.less';
@import '../components/directives/turbine/listTurbine/listTurbine.less';
@import '../components/directives/turbine/viewTurbine/viewTurbine.less';
@import '../components/footer/footer.less';
@import '../components/modal/blade/addEditBladeModal/addEditBladeModal.less';
@import '../components/modal/generic/modal.less';
@import '../components/modal/site/addEditSiteModal/addEditSiteModal.less';
@import '../components/modal/turbine/addEditTurbineModal/addEditTurbineModal.less';
@import '../components/oauth-buttons/oauth-buttons.less';
/* endinject */
