<header id="header">
  <a href="#" class="header-opener" mobile-nav><span></span></a>
  <div class="header-holder">
    <div class="user">
      <div class="avatar">
        <a href="#"><img src="assets/images/img1.jpg" alt="image description"></a>
      </div>
      <strong class="title"><a href="#">Adam Roussos</a></strong>
      <span class="subtitle info-tooltip">
        <a href="#">Scottish Power</a>
      </span>
    </div>
    <nav id="nav">
      <ul>
        <li ng-class="{active:sc.isActive('dashboard')}"><a ui-sref="main"><span class="icon-menu ico"></span>Dashboard</a></li>
        <li ng-class="{active:sc.isActive('manage')}"><a href="#"><span class="icon-settings ico"></span>Manage</a></li>
        <!--<li><a href="#"><span class="icon-report ico"></span>Report</a></li>-->
      </ul>
    </nav>
  </div>
</header>
