<h2>Blades:</h2>
<div class="alert alert-warning" role="alert" ng-if="!listBlade.blades.length">
  No Blades found
</div>
<div class="items" ng-if="listBlade.blades.length">
  <div class="item" ng-repeat="blade in listBlade.blades">
    <div class="icon-holder critical">
      <div class="icon-frame">
        <span><img ng-src="assets/dynamic/pos_{{blade.position}}.jpg" alt="image"></span>
      </div>
    </div>
    <div class="text">
      <strong class="title"><a ui-sref="blade({id:blade._id})"><span ng-if="blade.make">{{blade.make}}</span> <span ng-if="blade.model">{{blade.model}}</span></a></strong>
      <ul>
        <li ng-if="blade.position">Position {{blade.position}}</li>
        <li ng-if="blade.serial">{{blade.serial}}</li>
      </ul>
    </div>
  </div>
</div>
