<div class="topbar">
  <a href="#" class="header-opener"><span></span></a>
  <div class="title-holder">
    <div class="title-frame">
      <span class="title">Welcome to <strong>Wind Manager</strong> Dashboard</span>
      <span class="version">v.1.2</span>
    </div>
  </div>
  <a href="#" class="menu-opener icon-bell"></a>
  <div class="right-info">
    <div class="rightinfo-frame">
      <ul class="notifications">
        <li>
          <a href="#">
            <span class="counter">5</span>
            <span class="title"><span class="number">10</span> Critical</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="counter orange">4</span>
            <span class="title"><span class="number">25</span> High</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="counter yellow">3</span>
            <span class="title"><span class="number">17</span> Serious</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="counter green">2</span>
            <span class="title"><span class="number">20</span> Medium</span>
          </a>
        </li>
      </ul>
      <a href="#" class="btn-default2">Resolve</a>
    </div>
  </div>
</div>
