<div class="modal-header">
  <button type="button" ng-disabled="aETurbine.isDisabled" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="aETurbine.options.title" ng-bind="aETurbine.options.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <div class="row padder">
    <ng-form name="addEditForm" novalidate ng-disabled="aETurbine.isDisabled">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--make-->
          <label>Manufacturer</label>
          <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'make', aETurbine.submitted)">
            <input type="text" name="make" class="form-control" ng-model="aETurbine.turbine.make" required placeholder="Manufacturer" mongoose-error/>
            <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'make', aETurbine.submitted)">
              Please enter valid manufacturer name.
            </p>
            <p class="help-block" ng-show="addEditForm.make.$error.mongoose">
              {{ aETurbine.errors.make }}
            </p>
          </div>
          <!--/make-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--model-->
          <fieldset>
            <label>Model</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'model', aETurbine.submitted)">
              <input type="text" name="model" class="form-control" ng-model="aETurbine.turbine.model" required placeholder="Model" mongoose-error/>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'model', aETurbine.submitted)">
                Please enter valid model.
              </p>
              <p class="help-block" ng-show="addEditForm.model.$error.mongoose">
                {{ aETurbine.errors.model }}
              </p>
            </div>
          </fieldset>
          <!--/model-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--serial-->
          <fieldset>
            <label>Serial</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'serial', aETurbine.submitted)">
              <input type="text" name="serial" class="form-control" ng-model="aETurbine.turbine.serial" placeholder="Serial" required mongoose-error/>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'serial', aETurbine.submitted)">
                Please enter valid serial.
              </p>
              <p class="help-block" ng-show="addEditForm.serial.$error.mongoose">
                {{ aETurbine.errors.serial }}
              </p>
            </div>
          </fieldset>
          <!--/serial-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--capacity-->
          <fieldset>
            <label>Capacity</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'capacity', aETurbine.submitted)">
              <input type="number" name="capacity" class="form-control" ng-model="aETurbine.turbine.capacity" required placeholder="Capacity" mongoose-error/>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'capacity', aETurbine.submitted)">
                Please enter valid Capacity.
              </p>
              <p class="help-block" ng-show="addEditForm.capacity.$error.mongoose">
                {{ aETurbine.errors.capacity }}
              </p>
            </div>
          </fieldset>
          <!--/capacity-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">

          <!--Pad/Site Position-->
          <fieldset>
            <label>Pad/Site Position</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'sitePosition', aETurbine.submitted)">
              <input type="number" name="sitePosition" class="form-control" ng-model="aETurbine.turbine.sitePosition" required placeholder="Pad/Site Position" mongoose-error/>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'sitePosition', aETurbine.submitted)">
                Please enter valid Pad/Site Position.
              </p>
              <p class="help-block" ng-show="addEditForm.sitePosition.$error.mongoose">
                {{ aETurbine.errors.sitePosition }}
              </p>
            </div>
          </fieldset>
          <!--/Pad/Site Position-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--Type-->
          <fieldset>
            <label>Type</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'type', aETurbine.submitted)">
              <input type="text" name="type" class="form-control" ng-model="aETurbine.turbine.type" required placeholder="Type" mongoose-error/>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'type', aETurbine.submitted)">
                Please enter valid Type.
              </p>
              <p class="help-block" ng-show="addEditForm.type.$error.mongoose">
                {{ aETurbine.errors.type }}
              </p>
            </div>
          </fieldset>
          <!--/Type-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--manufactured-->
          <fieldset>
            <label>Manufactured Date</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'manufactured', aETurbine.submitted)">
              <p class="input-group">
                <input type="text" name="manufactured" class="form-control" uib-datepicker-popup="MM/dd/yyyy" is-open="aETurbine.popup1.opened" ng-model="aETurbine.turbine.manufactured" placeholder="Manufactured Date" ng-required="true" close-text="Close" mongoose-error/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="aETurbine.openManufacturedDate()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'manufactured', aETurbine.submitted)">
                Please enter valid Manufactured Date.
              </p>
              <p class="help-block" ng-show="addEditForm.manufactured.$error.mongoose">
                {{ aETurbine.errors.manufactured }}
              </p>
            </div>
          </fieldset>
          <!--/manufactured-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--commisioning-->
          <fieldset>
            <label>Commisioning Date</label>
            <div class="form-group" ng-class="aETurbine.Util.inputDecorator(addEditForm, 'commisioning', aETurbine.submitted)">
              <p class="input-group">
                <input type="text" name="commisioning" class="form-control" uib-datepicker-popup="MM/dd/yyyy" placeholder="Commisioning Date" is-open="aETurbine.popup2.opened" ng-model="aETurbine.turbine.commisioning" ng-required="true" close-text="Close" mongoose-error/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="aETurbine.openCommisioningDate()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
              <p class="help-block" ng-show="aETurbine.Util.toShowError(addEditForm, 'commisioning', aETurbine.submitted)">
                Please enter valid Commisioning Date.
              </p>
              <p class="help-block" ng-show="addEditForm.commisioning.$error.mongoose">
                {{ aETurbine.errors.commisioning }}
              </p>
            </div>
          </fieldset>
          <!--/commisioning-->
        </div>
      </div>

      <!--Other Server Errors-->
      <div class="alert alert-danger" role="alert" ng-if="aETurbine.serverError && aETurbine.serverError.length">
        <p>{{aETurbine.serverError}}</p>
      </div>
      <!--/Other Server Errors-->

    </ng-form>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-default2" ng-disabled="aETurbine.isDisabled" ng-click="aETurbine.saveTurbine(addEditForm)">Save</a>
  <a class="btn btn-primary" ng-disabled="aETurbine.isDisabled" ng-click="aETurbine.cancelSave()">Cancel</a>
</div>
