<div class="w1">
  <div id="main" role="main">
    <div class="header-bar">
      <add-site></add-site>
    <!--  <form action="#" class="search-form" custom-forms>
        <fieldset>
          <input type="search" class="form-control" placeholder="Search for something..." place-holder>
          <button type="submit" class="icon-search submit"></button>
          <div class="autocomplete-box">
            <ul>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Flower Ridge <span>Wind</span> Farm Site</strong>
                    <p>12 Turbines / 340 MW</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Goodland <span>Wind</span> Park Site</strong>
                    <p>14 Turbines / 380 MW</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Hoosier <span>Wind</span> Park Site</strong>
                    <p>11 Turbines / 290 MW</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Meadow Lake <span>Wind</span> Farm Site</strong>
                    <p>18 Turbines / 460 MW</p>
                  </div>
                </a>
              </li>
            </ul>
            <div class="btn-holder">
              <a href="#" class="btn-more">Explore More <span class="icon-angle-down"></span></a>
            </div>
          </div>
          <div class="autocomplete-box">
            <ul>
              <li>
                <a href="03-turbine-detail.html">
                  <div class="icon">
                    <img src="assets/images/ico2.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> SWT-2.3-101</strong>
                    <p>Flinthills Tech College Wind Project</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico2.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> SWT-2.3-101</strong>
                    <p>Flinthills Tech College Wind Project</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico3.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span></span> B52</strong>
                    <p>Siemens SWT-2.3-101</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico4.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> B53</strong>
                    <p>Siemens SWT-2.3-101</p>
                  </div>
                </a>
              </li>
            </ul>
            <div class="btn-holder">
              <a href="#" class="btn-more">Explore More <span class="icon-angle-down"></span></a>
            </div>
          </div>
        </fieldset>
      </form>-->
      <ul class="tabset" tabset="{tabLinks: 'a', defaultTab: false}" ng-init="main.active='list'">
        <li><a href="#tab1" class="active" ng-click="main.active='list'"><i class="icon-th-list"></i>List</a></li>
        <li><a href="#tab2" ng-click="main.active='map'"><i class="icon-map-pin"></i>Map</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="tab1">
        <list-site ng-if="main.active=='list'"></list-site>
      </div>
      <div id="tab2">
        <site-map ng-if="main.active=='map'"></site-map>
      </div>
    </div>
  </div>
</div>
