<div class="modal-header">
  <button type="button" ng-disabled="aESite.isDisabled" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="aESite.options.title" ng-bind="aESite.options.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <div class="row padder">
    <ng-form name="addEditForm" novalidate ng-disabled="aESite.isDisabled">

      <!--Site Name-->
      <label>Site Name</label>
      <div class="form-group" ng-class="aESite.Util.inputDecorator(addEditForm, 'name', aESite.submitted)">
        <input type="text" name="name" class="form-control" ng-model="aESite.site.name" required placeholder="Site Name" mongoose-error/>
        <p class="help-block" ng-show="aESite.Util.toShowError(addEditForm, 'name', aESite.submitted)">
          Please enter valid site name.
        </p>
        <p class="help-block" ng-show="addEditForm.name.$error.mongoose">
          {{ aESite.errors.name }}
        </p>
      </div>
      <!--/Site Name-->

      <!--Site Location-->

      <!--Address Line 1-->
      <fieldset>
        <label>Address Line 1</label>
        <div class="form-group" ng-class="aESite.Util.inputDecorator(addEditForm, 'addressLine1', aESite.submitted)">
          <input type="text" name="addressLine1" class="form-control" ng-model="aESite.site.location.addressLine1" required placeholder="Address Line 1" mongoose-error/>
          <p class="help-block" ng-show="aESite.Util.toShowError(addEditForm, 'addressLine1', aESite.submitted)">
            Please enter valid Address Line 1.
          </p>
          <p class="help-block" ng-show="addEditForm.addressLine1.$error.mongoose">
            {{ aESite.errors.addressLine1 }}
          </p>
        </div>
      </fieldset>
      <!--/Address Line 1-->

      <!--Address Line 2-->
      <fieldset>
        <label>Address Line 2</label>
        <div class="form-group" ng-class="aESite.Util.inputDecorator(addEditForm, 'addressLine2', aESite.submitted)">
          <input type="text" name="addressLine2" class="form-control" ng-model="aESite.site.location.addressLine2" placeholder="Address Line 2" mongoose-error/>
          <p class="help-block" ng-show="aESite.Util.toShowError(addEditForm, 'addressLine2', aESite.submitted)">
            Please enter valid Address Line 2.
          </p>
          <p class="help-block" ng-show="addEditForm.addressLine2.$error.mongoose">
            {{ aESite.errors.addressLine2 }}
          </p>
        </div>
      </fieldset>
      <!--/Address Line 2-->

      <!--Address Line 3-->
      <fieldset>
        <label>Town/City</label>
        <div class="form-group" ng-class="aESite.Util.inputDecorator(addEditForm, 'addressLine3', aESite.submitted)">
          <input type="text" name="addressLine3" class="form-control" ng-model="aESite.site.location.addressLine3" required placeholder="Town/City" mongoose-error/>
          <p class="help-block" ng-show="aESite.Util.toShowError(addEditForm, 'addressLine3', aESite.submitted)">
            Please enter valid Town/City.
          </p>
          <p class="help-block" ng-show="addEditForm.addressLine3.$error.mongoose">
            {{ aESite.errors.addressLine3 }}
          </p>
        </div>
      </fieldset>
      <!--/Address Line 3-->

      <!--Address Line 4-->
      <fieldset>
        <label>County/State</label>
        <div class="form-group" ng-class="aESite.Util.inputDecorator(addEditForm, 'addressLine4', aESite.submitted)">
          <input type="text" name="addressLine4" class="form-control" ng-model="aESite.site.location.addressLine4" required placeholder="County/State" mongoose-error/>
          <p class="help-block" ng-show="aESite.Util.toShowError(addEditForm, 'addressLine4', aESite.submitted)">
            Please enter valid County/State.
          </p>
          <p class="help-block" ng-show="addEditForm.addressLine4.$error.mongoose">
            {{ aESite.errors.addressLine4 }}
          </p>
        </div>
      </fieldset>
      <!--/Address Line 4-->

      <!--Address Line 5-->
      <fieldset>
        <label>Postal/Zip Code</label>
        <div class="form-group" ng-class="aESite.Util.inputDecorator(addEditForm, 'addressLine5', aESite.submitted)">
          <input type="text" name="addressLine5" class="form-control" ng-model="aESite.site.location.addressLine5" required placeholder="Postal/Zip Code" mongoose-error/>
          <p class="help-block" ng-show="aESite.Util.toShowError(addEditForm, 'addressLine5', aESite.submitted)">
            Please enter valid Postal/Zip Code.
          </p>
          <p class="help-block" ng-show="addEditForm.addressLine5.$error.mongoose">
            {{ aESite.errors.addressLine5 }}
          </p>
        </div>
      </fieldset>
      <!--/Address Line 5-->

      <!--Other Server Errors-->
      <div class="alert alert-danger" role="alert" ng-if="aESite.serverError && aESite.serverError.length">
        <p>{{aESite.serverError}}</p>
      </div>
      <!--/Other Server Errors-->

      <!--/Site Location-->
    </ng-form>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-default2" ng-disabled="aESite.isDisabled" ng-click="aESite.saveSite(addEditForm)">Save</a>
  <a class="btn btn-primary" ng-disabled="aESite.isDisabled" ng-click="aESite.cancelSave()">Cancel</a>
</div>
