<div class="items">
  <div class="item" ng-if="turbines.length" ng-repeat="turbine in turbines">
    <div class="icon-holder critical">
      <div class="icon-frame">
        <span class="icon-fan"></span>
      </div>
      <!-- <div class="info-tooltip" custom-hover>
         <a href="#" class="icon-repair ico"></a>
         <div class="tooltip">
           <div class="tooltipframe">
             <span class="heading">Work order progress:</span>
             <div class="progress-bar">
               <span class="progress" style="width:20%"></span>
             </div>
             <ul>
               <li>Work order: #2119835</li>
               <li>Work started: 12/07/2014</li>
               <li>Estimated duration: 36 h</li>
               <li>Actual duration: 2.2 h</li>
             </ul>
           </div>
         </div>
       </div>-->
    </div>
    <div class="text">
      <strong class="title"><a ui-sref="turbine({id:turbine._id})"><span ng-if="turbine.make">{{turbine.make}}</span><span ng-if="turbine.model">{{turbine.model}}</span></a></strong>
      <ul>
        <li ng-if="turbine.sitePosition">Pad #{{turbine.sitePosition}}</li>
        <li ng-if="turbine.capacity">{{turbine.capacity}}MW</li>
        <li ng-if="turbine.serial">SN # {{turbine.serial}}</li>
      </ul>
    </div>
  </div>
</div>
