<span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>
<div class="alert alert-warning" role="alert" ng-if="!bc.blade && !bc.loading">
  No such Blade found.
</div>
<div class="w1" ng-if="bc.blade && !bc.loading">
  <div id="main" role="main">
    <div class="header-bar">
      <form action="#" class="search-form">
        <fieldset>
          <input type="search" class="form-control" placeholder="Search for something...">
          <button type="submit" class="icon-search submit"></button>
          <div class="autocomplete-box">
            <ul>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Flower Ridge <span>Wind</span> Farm Site</strong>
                    <p>12 Turbines / 340 MW</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Goodland <span>Wind</span> Park Site</strong>
                    <p>14 Turbines / 380 MW</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Hoosier <span>Wind</span> Park Site</strong>
                    <p>11 Turbines / 290 MW</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico1.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title">Meadow Lake <span>Wind</span> Farm Site</strong>
                    <p>18 Turbines / 460 MW</p>
                  </div>
                </a>
              </li>
            </ul>
            <div class="btn-holder">
              <a href="#" class="btn-more">Explore More <span class="icon-angle-down"></span></a>
            </div>
          </div>
          <div class="autocomplete-box">
            <ul>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico2.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> SWT-2.3-101</strong>
                    <p>Flinthills Tech College Wind Project</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico2.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> SWT-2.3-101</strong>
                    <p>Flinthills Tech College Wind Project</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico3.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> B52</strong>
                    <p>Siemens SWT-2.3-101</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="icon">
                    <img src="assets/images/ico4.jpg" alt="image description">
                  </div>
                  <div class="text">
                    <strong class="title"><span>Siemens</span> B53</strong>
                    <p>Siemens SWT-2.3-101</p>
                  </div>
                </a>
              </li>
            </ul>
            <div class="btn-holder">
              <a href="#" class="btn-more">Explore More <span class="icon-angle-down"></span></a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <view-blade blade="bc.blade"></view-blade>
    <div class="tabs-area">
      <ul class="tabset" tabset="{tabLinks: 'a', defaultTab: false}">
        <li><a href="#tab1"><i class="icon-timeline"></i>Timeline</a></li>
        <li><a href="#tab2" class="active"><i class="icon-folder"></i>Category</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab2">
          <div class="component-block">
            <header class="block-head">
              <h1>Blades component map</h1>
            </header>
            <div class="component-maps">
              <div class="component-map">
                <div class="item">
                  <div class="icon-holder critical">
                    <div class="icon-frame">
                      <span><img src="assets/images/ico5.jpg" alt="image"></span>
                    </div>
                  </div>
                  <strong class="title"><a href="#">Siemens B52</a></strong>
                  <ul>
                    <li>Position 1</li>
                    <li>SN # 1234123412</li>
                  </ul>
                </div>
                <div class="graph">
                  <img src="assets/images/graph2.jpg" alt="image description">
                </div>
                <div class="map-holder">
                  <img src="assets/images/graph1.jpg" alt="image description">
                  <div class="tooltip">
                    <div class="tooltipframe">

                      <ul>
                        <li>CAT: 5 (Critical)</li>
                        <li>Distance from Chord: 13%</li>
                        <li>Blade Side: PS</li>
                        <li>Type : External</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="findings-block">
              <header class="block-head">
                <h1>Findings</h1>
                <div class="head-right">
											<span class="fake-select">
												<select>
													<option selected="selected">All CAT</option>
													<option>CAT 5+</option>
													<option>CAT 4+</option>
													<option>CAT 3+</option>
													<option>CAT 2+</option>
													<option>CAT 1+</option>
												</select>
											</span>
                  <a href="#" class="share icon-share"></a>
                </div>
              </header>
              <div class="main-table">
                <table>
                  <tr class="critical">
                    <td>
                      <a href="finding.html" class="icon-inspection link"></a>
                      <span class="counter">5</span>
                      <strong class="title">CAT 5</strong>
                    </td>
                    <td>Leading Edge Erosion</td>
                    <td>
                      <time datetime="2016-06-24">12/2/2014</time>
                    </td>
                    <td class="btns">
                      <a href="#" class="btn-default2">Resolve</a>
                      <a href="#" class="btn-primary">Snooze</a>
                    </td>
                  </tr>
                  <tr class="high">
                    <td>
                      <a href="finding.html" class="icon-inspection link"></a>
                      <span class="counter">4</span>
                      <strong class="title">CAT 4</strong>
                    </td>
                    <td>Leading Edge Erosion</td>
                    <td>
                      <time datetime="2016-06-24">12/2/2014</time>
                    </td>
                    <td class="btns">
                      <a href="#" class="btn-default2">Resolve</a>
                      <a href="#" class="btn-primary">Snooze</a>
                    </td>
                  </tr>
                  <tr class="serious">
                    <td>
                      <a href="finding.html" class="icon-inspection link"></a>
                      <span class="counter">3</span>
                      <strong class="title">CAT 3</strong>
                    </td>
                    <td>Leading Edge Erosion</td>
                    <td>
                      <time datetime="2016-06-24">12/2/2014</time>
                    </td>
                    <td class="btns">
                      <a href="#" class="btn-default2">Resolve</a>
                      <a href="#" class="btn-primary">Snooze</a>
                    </td>
                  </tr>
                  <tr class="medium">
                    <td>
                      <a href="finding.html" class="icon-inspection link"></a>
                      <span class="counter">2</span>
                      <strong class="title">CAT 2</strong>
                    </td>
                    <td>Leading Edge Erosion</td>
                    <td>
                      <time datetime="2016-06-24">12/2/2014</time>
                    </td>
                    <td class="btns">
                      <a href="#" class="btn-default2">Resolve</a>
                      <a href="#" class="btn-primary">Snooze</a>
                    </td>
                  </tr>
                  <tr class="normal">
                    <td>
                      <a href="finding.html" class="icon-inspection link"></a>
                      <span class="counter">1</span>
                      <strong class="title">CAT 1</strong>
                    </td>
                    <td>Leading Edge Erosion</td>
                    <td>
                      <time datetime="2016-06-24">12/2/2014</time>
                    </td>
                    <td class="btns">
                      <a href="#" class="btn-default2">Resolve</a>
                      <a href="#" class="btn-primary">Snooze</a>
                    </td>
                  </tr>
                  <tr class="resolved">
                    <td>
                      <a href="finding.html" class="icon-inspection link"></a>
                      <span class="counter">3</span>
                      <strong class="title">CAT 3</strong>
                    </td>
                    <td>Leading Edge Erosion</td>
                    <td>
                      <time datetime="2016-06-24">12/2/2014</time>
                    </td>
                    <td class="btns">
                      <span class="fixed">Resolved</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="footer-bar">
                <span class="hidden-items">Hiding 400 Findings</span>
                <a class="show-all" href="#">Show All <i class="icon-angle-down"></i></a>
              </div>
            </section>
            <section class="inspection-block">
              <header class="block-head">
                <h1>Inspections</h1>
                <strong class="subheading">Inspection scheduled today</strong>
                <a href="#" class="share icon-share"></a>
              </header>
              <div class="main-table">
                <table>
                  <tr>
                    <td>
                      <a href="#" class="icon-inspection link"></a>
                      <strong class="title">Inspection Coverage / Inspection Type</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">11/2/2014</time>
                    </td>
                    <td class="last">
                      <span class="status"><a href="#">Technician on Site</a></span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" class="icon-inspection link"></a>
                      <strong class="title">Inspection Coverage / Inspection Type</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">10/2/2014</time>
                    </td>
                    <td class="last">
                      <span class="status"><a href="#">13 Findings</a></span>
                      <a href="#" class="btn-share icon-share"></a>
                      <a href="#" class=" note icon-note"></a>
                    </td>
                  </tr>
                </table>
              </div>
            </section>
            <section class="inspection-block repairs">
              <header class="block-head">
                <h1>Repairs</h1>
                <strong class="subheading">Last Repair 36d ago</strong>
                <a href="#" class="share icon-share"></a>
              </header>
              <div class="main-table">
                <table>
                  <tr>
                    <td>
                      <a href="#" class="icon-wrench link"></a>
                      <strong class="title">Resolve: <a href="#">Protrusion in Nacelle 10/12/2014</a></strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">11/2/2014</time>
                    </td>
                    <td class="last">
                      <span class="status"><a href="#">Technician on Site</a></span>
                    </td>
                  </tr>
                </table>
              </div>
            </section>
          </div>
        </div>
        <div id="tab1">
          <div class="component-block">
            <section class="findings-block">
              <header class="block-head">
                <h1>Timeline</h1>
              </header>
              <div class="main-table timeline">
                <table>
                  <tr class="critical">
                    <td>
                      <a href="#" class="icon-wrench link"></a>
                      <span class="counter">5</span>
                      <strong class="title">HIGH Lighting Resistance Out of Range</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">10/12/2014</time>
                    </td>
                    <td class="last">
                      <a href="#" class="btn-default2">Resolve</a>
                    </td>
                  </tr>
                  <tr class="high">
                    <td>
                      <a href="#" class="icon-inspection link"></a>
                      <span class="counter">4</span>
                      <strong class="title">Critical Protrusion in Nacelle</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">10/12/2014</time>
                    </td>
                    <td class="last">
                      <a href="#" class="btn-info">Cleared</a>
                    </td>
                  </tr>
                  <tr class="serious">
                    <td>
                      <a href="#" class="icon-inspection link"></a>
                      <span class="counter">3</span>
                      <strong class="title">Inspection Coverage / Inspection Type</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">11/2/2014</time>
                    </td>
                    <td class="last">Technician on Site</td>
                  </tr>
                  <tr class="medium">
                    <td>
                      <a href="#" class="icon-inspection link"></a>
                      <span class="counter">2</span>
                      <strong class="title">Inspection Coverage / Inspection Type</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">11/1/2014</time>
                    </td>
                    <td class="last">13 Findings</td>
                  </tr>
                  <tr class="normal">
                    <td>
                      <a href="#" class="icon-inspection link"></a>
                      <span class="counter">1</span>
                      <strong class="title">Resolve: Protrusion in Nacelle 10/12/2014</strong>
                    </td>
                    <td>
                      <time datetime="2016-06-24">9/1/2014</time>
                    </td>
                    <td class="last">Technician on Site</td>
                  </tr>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
