<div class="alert alert-warning" role="alert" ng-if="!siteMap.loading && !siteMap.allSites.length">
  No Turbines found
</div>
<span us-spinner spinner-key="spinner-2" spinner-start-active="true"></span>
<section class="map-block" ng-if="!siteMap.loading && siteMap.allSites.length">
  <div class="block-frame">
    <div class="map">
      <div ng-if="siteMap.currentPosition" map-lazy-load="https://maps.google.com/maps/api/js?key={{siteMap.API_KEY}}">
        <ng-map center="{{siteMap.currentPosition}}" zoom="11" style="width:100%; height:100%;position: absolute;" default-style="false">
          <custom-marker id="foo" position="{{siteMap.getAddress(site.location)}}" ng-repeat="site in siteMap.allSites track by $index">
            <div class="map-popup">
              <div class="ico" ng-mouseenter="site.showtooltip=true" ng-mouseleave="site.showtooltip=false">
                <img src="assets/images/icon-critical.png" alt="image description">
              </div>
              <div class="tooltip" ng-class="{'showtooltip':site.showtooltip}">
                <div class="tooltipframe">
                  <strong class="title" ng-if="site.name">{{site.name}}</strong>
                  <address class="address icon-map-pin" ng-if="site.location">{{siteMap.getAddress(site.location)}}</address>
                  <ul class="meta">
                    <li ng-if="site.turbines">{{site.turbines.length}} WTGs</li>
                    <li ng-if="site.turbines">{{siteMap.getTotalCapacity(site.turbines)}} MW</li>
                  </ul>
                  <div class="work-progress">
                    <span class="heading">Work order progress:</span>
                    <div class="progress-bar" style="width: 100%;">
                      <span class="progress" style="width:20%"></span>
                    </div>
                    <ul>
                      <li>Work order: #2119835</li>
                      <li>Repairs in progress: 5</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </custom-marker>
        </ng-map>
      </div>
    </div>
    <div class="listing-block" listing-nav>
      <a href="#" class="btn-listing">
        <span class="txt">Site Listing</span>
        <span class="icon-right-open ico"></span>
      </a>
      <header class="head">
        <strong class="heading">Site Listing</strong>
        <div class="sortby">
          <span class="label">Order By</span>
          <span class="fake-select">
												<select>
													<option selected="selected">Priority (Default)</option>
													<option>Option 2</option>
													<option>Option 3</option>
													<option>Option 4</option>
												</select>
											</span>
        </div>
      </header>
      <div class="jcf-scrollable">
        <div class="listing-holder">
          <ul class="listing">
            <li ng-repeat="site in siteMap.allSites track by $index">
              <div class="graph">
                <img src="assets/images/img4.jpg" alt="image description">
              </div>
              <div class="text-holder">
                <div class="icon">
                  <a href="#" ng-click="siteMap.currentPosition=siteMap.getAddress(site.location)"><img src="assets/images/icon5.jpg" alt="image description"></a>
                </div>
                <div class="text">
                  <strong class="heading" ng-if="site.name"><a href="#">{{site.name}}</a></strong>
                  <address class="address icon-map-pin">{{siteMap.getAddress(site.location)}}</address>
                  <ul class="meta">
                    <li ng-if="site.turbines">{{site.turbines.length}} WTGs</li>
                    <li ng-if="site.turbines">{{siteMap.getTotalCapacity(site.turbines)}} MW</li>
                  </ul>
                  <p>Further Inspection Recommended: 4 WTGs</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
