<div class="modal-header">
  <button type="button" ng-disabled="aEBlade.isDisabled" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="aEBlade.options.title" ng-bind="aEBlade.options.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <div class="row padder">
    <ng-form name="addEditForm" novalidate ng-disabled="aEBlade.isDisabled">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--make-->
          <label>Manufacturer</label>
          <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'make', aEBlade.submitted)">
            <input type="text" name="make" class="form-control" ng-model="aEBlade.blade.make" required placeholder="Manufacturer" mongoose-error/>
            <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'make', aEBlade.submitted)">
              Please enter valid manufacturer name.
            </p>
            <p class="help-block" ng-show="addEditForm.make.$error.mongoose">
              {{ aEBlade.errors.make }}
            </p>
          </div>
          <!--/make-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--model-->
          <fieldset>
            <label>Model</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'model', aEBlade.submitted)">
              <input type="text" name="model" class="form-control" ng-model="aEBlade.blade.model" required placeholder="Model" mongoose-error/>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'model', aEBlade.submitted)">
                Please enter valid model.
              </p>
              <p class="help-block" ng-show="addEditForm.model.$error.mongoose">
                {{ aEBlade.errors.model }}
              </p>
            </div>
          </fieldset>
          <!--/model-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--serial-->
          <label>Serial</label>
          <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'serial', aEBlade.submitted)">
            <input type="text" name="serial" class="form-control" ng-model="aEBlade.blade.serial" required placeholder="Serial" mongoose-error/>
            <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'serial', aEBlade.submitted)">
              Please enter valid serial.
            </p>
            <p class="help-block" ng-show="addEditForm.serial.$error.mongoose">
              {{ aEBlade.errors.serial }}
            </p>
          </div>
          <!--/serial-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--type-->
          <label>Type</label>
          <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'type', aEBlade.submitted)">
            <input type="text" name="type" class="form-control" ng-model="aEBlade.blade.type" required placeholder="Type" mongoose-error/>
            <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'type', aEBlade.submitted)">
              Please enter valid type.
            </p>
            <p class="help-block" ng-show="addEditForm.type.$error.mongoose">
              {{ aEBlade.errors.type }}
            </p>
          </div>
          <!--/type-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--Position-->
          <fieldset>
            <label>Position</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'position', aEBlade.submitted)">
              <select name="position" class="form-control" ng-model="aEBlade.blade.position" required placeholder="Position" mongoose-error>
                <option value="">Please Select</option>
                <option value="1" ng-if="!aEBlade.bladeExists(1)">A/1</option>
                <option value="2" ng-if="!aEBlade.bladeExists(2)">B/2</option>
                <option value="3" ng-if="!aEBlade.bladeExists(3)">C/3</option>
              </select>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'position', aEBlade.submitted)">
                Please select Position.
              </p>
              <p class="help-block" ng-show="addEditForm.position.$error.mongoose">
                {{ aEBlade.errors.position }}
              </p>
            </div>
          </fieldset>
          <!--/Position-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--material-->
          <fieldset>
            <label>Material</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'material', aEBlade.submitted)">
              <input type="text" name="material" class="form-control" ng-model="aEBlade.blade.material" placeholder="Material" required mongoose-error/>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'material', aEBlade.submitted)">
                Please enter valid material.
              </p>
              <p class="help-block" ng-show="addEditForm.material.$error.mongoose">
                {{ aEBlade.errors.material }}
              </p>
            </div>
          </fieldset>
          <!--/material-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--Diameter-->
          <fieldset>
            <label>Diameter</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'diameter', aEBlade.submitted)">
              <input type="number" name="diameter" class="form-control" ng-model="aEBlade.blade.diameter" required placeholder="Diameter" mongoose-error/>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'diameter', aEBlade.submitted)">
                Please enter valid Diameter.
              </p>
              <p class="help-block" ng-show="addEditForm.diameter.$error.mongoose">
                {{ aEBlade.errors.diameter }}
              </p>
            </div>
          </fieldset>
          <!--/Diameter-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--surface-->
          <fieldset>
            <label>Surface</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'surface', aEBlade.submitted)">
              <input type="text" name="surface" class="form-control" ng-model="aEBlade.blade.surface" placeholder="Surface" required mongoose-error/>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'surface', aEBlade.submitted)">
                Please enter valid surface.
              </p>
              <p class="help-block" ng-show="addEditForm.surface.$error.mongoose">
                {{ aEBlade.errors.surface }}
              </p>
            </div>
          </fieldset>
          <!--/surface-->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!--Length-->
          <fieldset>
            <label>Length</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'length', aEBlade.submitted)">
              <input type="number" name="length" class="form-control" ng-model="aEBlade.blade.length" required placeholder="Length" mongoose-error/>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'length', aEBlade.submitted)">
                Please enter valid Length.
              </p>
              <p class="help-block" ng-show="addEditForm.length.$error.mongoose">
                {{ aEBlade.errors.length }}
              </p>
            </div>
          </fieldset>
          <!--/Length-->
        </div>
        <div class="col-sm-12 col-md-6">
          <!--condition-->
          <fieldset>
            <label>Condition</label>
            <div class="form-group" ng-class="aEBlade.Util.inputDecorator(addEditForm, 'condition', aEBlade.submitted)">
              <input type="number" name="condition" class="form-control" ng-model="aEBlade.blade.condition" placeholder="Condition" required mongoose-error/>
              <p class="help-block" ng-show="aEBlade.Util.toShowError(addEditForm, 'condition', aEBlade.submitted)">
                Please enter valid condition.
              </p>
              <p class="help-block" ng-show="addEditForm.condition.$error.mongoose">
                {{ aEBlade.errors.condition }}
              </p>
            </div>
          </fieldset>
          <!--/condition-->
        </div>
      </div>

      <!--Other Server Errors-->
      <div class="alert alert-danger" role="alert" ng-if="aEBlade.serverError && aEBlade.serverError.length">
        <p>{{aEBlade.serverError}}</p>
      </div>
      <!--/Other Server Errors-->

    </ng-form>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-default2" ng-disabled="aEBlade.isDisabled" ng-click="aEBlade.saveBlade(addEditForm)">Save</a>
  <a class="btn btn-primary" ng-disabled="aEBlade.isDisabled" ng-click="aEBlade.cancelSave()">Cancel</a>
</div>
