<section class="projectbox detail projects-active" open-close="{activeClass: 'projects-active', opener: '.opener', slider: '.holder', animSpeed: 400, effect: 'slide'}">
  <a href="#" class="remove icon-cancel"></a>
  <a href="#" class="opener icon-down-open"></a>
  <header class="header">
    <div class="image blade">
      <img ng-src="assets/dynamic/pos_{{vbc.blade.position}}.jpg" alt="image description">
    </div>
    <div class="text">
      <h1 ng-if="vbc.blade"><span ng-if="vbc.blade.make">{{vbc.blade.make}}</span> <span ng-if="vbc.blade.model">{{vbc.blade.model}}</span></h1>
      <span class="site" ng-if="vbc.blade.turbine">WTG: <a ui-sref="turbine({id:vbc.blade.turbine._id})"><span ng-if="vbc.blade.turbine.make">{{vbc.blade.turbine.make}}</span> <span ng-if="vbc.blade.turbine.model">{{vbc.blade.turbine.model}}</span></a></span>
      <span class="site" ng-if="vbc.blade.turbine.site && vbc.blade.turbine.site.name">Site: <a ui-sref="main">{{vbc.blade.turbine.site.name}}</a></span>
    </div>
    <div class="action-btns">
      <!--<a href="#" class="print icon-print"></a>-->
      <!--<a href="#" class="share icon-share"></a>-->
    </div>
  </header>
  <div class="holder">
    <div class="sidecol">
      <!--<span class="fake-select">-->
      <!--<select>-->
      <!--<option selected="selected">Actions</option>-->
      <!--<option>Option 2</option>-->
      <!--<option>Option 3</option>-->
      <!--<option>Option 4</option>-->
      <!--</select>-->
      <!--</span>-->
      <a href="#" class="btn-primary"><span class="icon-repair2"></span>Schedule Repair</a>
      <a href="#" class="btn-default2"><span class="icon-inspection2"></span>Schedule Inspection</a>
      <p>Further Inspection Recommended: <strong>14 WTGs</strong></p>
      <p>Inspection not performed in <strong>30 days</strong><br>Last inspection:
        <time datetime="2016-06-14">14/6/2013</time>
      </p>
    </div>
    <div class="detail-holder">
      <div class="blade-details active">
        <ul class="information">
          <li ng-if="vbc.blade.position"><strong>Position</strong>: {{vbc.blade.position}}</li>
          <li ng-if="vbc.blade.material"><strong>Material</strong>: {{vbc.blade.material}}</li>
          <li ng-if="vbc.blade.type"><strong>Type</strong>: {{vbc.blade.type}}</li>
          <li ng-if="vbc.blade.surface"><strong>Surface colour</strong>: {{vbc.blade.surface}}</li>
          <li ng-if="vbc.blade.length"><strong>Blade Length</strong>: {{vbc.blade.length}} m</li>
          <li ng-if="vbc.blade.make"><strong>Blade manufacturer</strong>: {{vbc.blade.make}}</li>
        </ul>
        <div class="links-bar">
          <!--<a href="#" class="more open">More <i class="icon-angle-down"></i></a>-->
          <!--<a href="#" class="link">Blades Like This</a>-->
        </div>
        <div class="detail-slide">
          <div class="more-info active2">
            <strong class="heading">Host:</strong>
            <div class="slide2">
              <div class="info-box">
                <div class="icon">
                  <img src="assets/images/ico8.jpg" alt="image description">
                </div>
                <strong class="heading"><span ng-if="vbc.blade.turbine.make">{{vbc.blade.turbine.make}}</span> <span ng-if="vbc.blade.turbine.model">{{vbc.blade.turbine.model}}</span></strong>
                <div class="text">
                  <p><span ng-if="vbc.blade.turbine.model">{{vbc.blade.turbine.model}}</span> <br><span ng-if="vbc.blade.turbine.sitePosition">Pad #{{vbc.blade.turbine.sitePosition}}</span> <span ng-if="vbc.blade.turbine.capacity"> / {{vbc.blade.turbine.capacity}}MW</span></p>
                </div>
                <ul class="info">
                  <li ng-if="vbc.blade.turbine.manufactured">Manufactured {{vbc.blade.turbine.manufactured | date:'MM/dd/yyyy'}}</li>
                  <li ng-if="vbc.blade.turbine.commisioning">In service for {{vbc.blade.turbine.commisioning | amTimeAgo : null : 'seconds' }}</li>
                  <li ng-if="vbc.blade.turbine.commisioning">Commisioning {{vbc.blade.turbine.commisioning | date:'MM/dd/yyyy'}}</li>
                  <li ng-if="vbc.blade.turbine.serial">{{vbc.blade.turbine.serial}}</li>
                </ul>
              </div>
            </div>
            <div class="links-bar">
              <!--<a href="#" class="more open2">More <i class="icon-angle-down"></i></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
