<span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>
<div class="alert alert-warning" role="alert" ng-if="!listSite.loading && !listSite.allSites.length">
  No Sites found
</div>
<div ng-if="!listSite.loading && listSite.allSites.length">
  <section ng-repeat="site in listSite.allSites" class="projectbox projects-active" open-close="{activeClass: 'projects-active', opener: '.opener', slider: '.holder', animSpeed: 400, effect: 'slide'}">
    <a href="#" class="remove icon-cancel"></a>
    <a href="#" class="opener icon-down-open"></a>
    <header class="header">
      <div class="col-sm-12 col-md-10">
        <div class="image">
          <img src="assets/images/img2.png" alt="Wind Farm">
        </div>
        <div class="text">
          <h1>{{site.name || ''}}</h1>
          <div class="info">
            <span class="product-id">{{site.turbines.length || 0}} WTGs</span>
            <span class="power">{{listSite.getTotalCapacity(site.turbines)}} MW</span>
            <address class="address icon-map-pin" ng-if="site.location">{{listSite.getAddress(site.location)}}</address>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <add-turbine site="site"></add-turbine>
      </div>
    </header>
    <div class="alert alert-warning" role="alert" ng-if="!site.turbines.length">
      No Turbines found
    </div>
    <div class="holder">
      <div class="graph-holder">
        <strong class="heading">Finding Distribution</strong>
        <div class="graph">
          <img src="assets/images/img3.png" alt="Wind Farm">
        </div>
      </div>
      <list-turbine turbines="site.turbines"></list-turbine>
    </div>
    <div class="footer-bar">
      <ul class="findings">
        <li class="crit">Critical <span>22</span></li>
        <li class="high">High <span>10</span></li>
        <li class="serious">Serious <span>15</span></li>
        <li class="med">Medium <span>28</span></li>
        <li class="low">Low <span>33</span></li>
        <li class="exp">Expired <span>8</span></li>
      </ul>
    </div>
  </section>
</div>
